.index-section1 {
  width: 100%;
}
.index-section1 img {
  object-fit: cover;
}
.index-section4 {
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
  /* background-image: url(./index_imgs/giphy.gif); */
  /* opacity: 0.4; */
}
.index-sec-container {
  /* border: 1px solid red; */
  width: 85%;
  height: 100%;
  margin: 0 auto;
  color: white;
  /* display: flex; */
}
.index-sec-container-top {
  /* border: 1px solid yellow; */
  display: flex;
  width: 100%;
  height: 70%;
}
.index_steps {
  width: 25%;
  /* height: 70%; */
  /* border: 1px solid orange; */
  padding: 10% 3%;
  text-align: center;
  position: relative;
}
.index_steps_circle {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  border-radius: 150px;
}
.index_steps_circle-one {
  width: 100%;
  background-image: url('./index_imgs/journey.GIF');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index_steps_circle-two {
  width: 100%;
  background-image: url('./index_imgs/tickets.gif');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.index_steps_circle-three {
  width: 100%;
  background-image: url('./index_imgs/IMG_2148.GIF');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index_steps_circle-four {
  width: 100%;
  background-image: url('./index_imgs/up.GIF');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.index_step_words {
  position: relative;
  top: 8%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1.5;
  color: white;
  text-decoration: none;
}
.index_step_words:hover {
  color: #05f2f2;
  text-decoration: none;
  font-size: 16px;
  transition: 0.5s ease-out;
}
.index_next_icon {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #05f2f2;
  background-image: linear-gradient(90deg, #05f2f2 0%, #000 27%);
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index_next_icon:hover {
  animation: glace-2 0.5s ease-out;
}
.index-sec-container-bottom {
  width: 100%;
  height: 30%;
  /* border: 1px solid pink; */
}
.index_section4_bottom_fixed {
  width: 40%;
  height: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
  overflow: hidden;
}
.index_section4_bottom_fixed .fixed_image {
  /* border: 1px solid orange; */
  margin-top: 20%;
  transition-timing-function: cubic-bezier(0.2, 0.4, 0.7, 0.8);
  animation-name: MoveAround;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
@keyframes MoveAround {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* section3  css*/
.animation_try{
  animation: bounce;
  animation-duration:2s;
}

.do-fade{
  animation: zoomIn;
  animation-duration:2s;
}

.index_section3{
  width:100%;
  height:100vh;
  background-image: url('./index_imgs/sec3-bg.png');
  background-position: center top, center center;
  background-repeat: no-repeat, repeat; 
  background-size: cover ;
  position: relative;
}
.index_team{
  width:80%;
  height:80%;
  /* border: 1px solid #ccc; */
  position: absolute;
  top:10%;
  left:10%;
  display:flex;
}
.index_team-left{
  width:30%;
  /* border: 1px solid red; */
  margin:3%;
}
.index_team-right{
  width:70%;
  /* border: 1px solid blue; */
  position: relative;
}
.index_active-img{
  height:70%;
  /* border: 1px solid green; */
  padding:25px 40px;
}
.index_active-text{
  height:30%;
  /* border: 1px solid yellow; */
  padding:8px 40px;
}
.index_active-img-box{
  border:2px solid #ccc;
  height:100%;
  border-radius: 130px;
}
.index_active-img-box img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 130px;
}
/* .img-transition{
 -webkit-transition: opacity .2s linear, border-radius 1s ease-in 1s;
  transition: opacity .2s linear, border-radius 1s ease-in 1s; 
} */

.index_active-text-box{
  /* border:1px solid #ccc; */
  height:100%;
  display:flex;
}
.index_active-text-box-left{
  width:3px;
  /* background: #ccc; */
}
.index_active-text-box-right{
  margin-left:10px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  /* border: 1px solid #ccc; */
  margin: 0 auto;
}
.index_active-text-box-right h2{
  /* border:1px solid red; */
  color: white;
  margin-bottom: 7px;
  font-size: 18px;
  overflow: hidden;
  /* border-right: 0.15em solid #ccc; */
  white-space: nowrap;
  margin: 0 auto 7px auto;
  letter-spacing: 0.15em;

}
.do-animation{
  /* border:1px solid red; */
  color: white;
  /* margin-bottom: 7px; */
  font-size: 20px;
  overflow: hidden;
  border-right: 0.15em solid #ccc;
  white-space: nowrap;
  margin: 0 auto 10px auto;
  letter-spacing: 0.15em;
  animation: typing 5s steps(30,end) 2 ,blink-caret 0.5s step-end infinite;
}
@keyframes typing {
  from{
      width:0%;
  }to{
      width:80%;
  }
}
@keyframes blink-caret {
  from,
  to{
      border-color: transparent transparent;
  }
  50%{
      border-color: #ccc;
  }
}

.index_right-member{
  width:80%;
  height:60%;
  /* border:1px solid red; */
  position:absolute;
  top:20%;
  left:10%;
  display:flex;
  flex-wrap: wrap;
}
.index_member{
  height:50%;
  /* border:1px solid orange; */
  padding: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.index_member img{
  border:1px solid #ccc;
  width:120px;
  height:120px;
  object-fit: cover;
  border-radius:50%;
  margin-bottom:30px;
  /* border:1px solid orange; */
}
.index_member p{
  color:#fff;
  font-size: 16px;
  letter-spacing:1.2px;
  /* border:1px solid orange; */
}
