/* earth section */
.index-earth-container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
}
.index-sec1-title {
  font-family: 'Arsenal';
  font-weight: bold;
  position: absolute;
  top: 58%;
  left: 51%;
  transform: translate(-50%, -50%);
  color: #05f2f2;
  font-size: 45px;
  letter-spacing: 30px;
  font-weight: bold;
  /* text-shadow: 1px 1px rgb(201, 201, 201), -1px -1px rgb(106, 106, 106);
  opacity: 0.6; */
  background-image: linear-gradient(
    90deg,
    #05f2f2 20%,
    rgba(0, 0, 0, 0.407) 25%
  );
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glace-2 2s ease-out;
  animation-iteration-count: 2;
}
.index_sec1-icon {
  position: absolute;
  bottom: calc(66% + 100px);
  right: calc(66% + 100px);
}
.index_img_shape {
  position: absolute;
  width: 3%;
  top: calc(34% - 100px);
  left: calc(34% - 100px);
}

/* .index-sec1-title {
  animation: glace-2 2s ease-out;
} */

.index-earth {
  position: absolute;
  border-radius: 10px;
  bottom: 12%;
  right: 8%;
  border: 2px solid white;
  font-family: 'Arsenal';
}
.index-earth-speed {
  padding: 20px 40px;
  background-color: rgb(192, 185, 185, 33%);
  backdrop-filter: invert(80%);
  border-radius: 10px;
  margin: 10px;
}
.index-earth-speed:hover {
  background-color: rgb(192, 185, 185, 33%);
  backdrop-filter: invert(30%);
}
.index-earth-speed-title {
  color: white;
  font-size: 26px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}
.index-earth-speed-text {
  color: white;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.5;
}

.earth-space-station {
  position: absolute;
  top: 15%;
  left: 10%;
}
.earth-space-station-text {
  color: white;
  padding-left: 10px;
  letter-spacing: 3px;
  line-height: 1.5;
  opacity: 0.8;
  font-weight: bold;
  font-size: 16px;
}
.index_button_container {
  position: absolute;
  width: 250px;
  top: calc(39% - 100px);
  left: calc(9% - 100px);
  text-align: center;
}
.index-taiwanstation {
  position: absolute;
  width: 18%;
  top: calc(21% - 100px);
  left: calc(8% - 100px);
  text-align: center;
}
.index-taiwanstation_card_container {
  -webkit-perspective: 700;
  -moz-perspective: 700;
  perspective: 700;
  position: relative;
  width: 300px;
}
.index-taiwanstation_card {
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* border: 3px solid blue; */
  position: relative;
}
.index-taiwanstation_card_front,
.index-taiwanstation_card_back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.index-taiwanstation_card_back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.index-taiwanstation_card_container:hover .index-taiwanstation_card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.taiwan-station-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 0;
  background-color: transparent;
  width: 70%;
  border-radius: 10px;
}
.taiwan-station-btn-text {
  color: White;
  font-family: 'Arsenal';
  letter-spacing: 3px;
  line-height: 2;
}
.taiwan-station-text {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  transition: 0.6s ease-in-out;
}

/* index_section1 */

.index-section1 {
  width: 100%;
}
.index-section1 img {
  object-fit: cover;
}
.index-section4 {
  width: 100%;
  height: 100vh;
  /* background-image: url(./index_imgs/giphy.gif); */
  /* opacity: 0.4; */
}
.index-sec-container {
  /* border: 1px solid red; */
  width: 85%;
  height: 100%;
  margin: 0 auto;
  color: white;
  /* display: flex; */
}
.index-sec-container-top {
  /* border: 1px solid yellow; */
  display: flex;
  width: 100%;
  height: 70%;
}
.index_steps {
  width: 25%;
  /* height: 70%; */
  /* border: 1px solid orange; */
  padding: 10% 3%;
  text-align: center;
  position: relative;
}
.index_steps_circle {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  border-radius: 150px;
}
.index_steps_circle-one {
  width: 100%;
  background-image: url('./index_imgs/journey.GIF');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index_steps_circle-two {
  width: 100%;
  background-image: url('./index_imgs/tickets.gif');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.index_steps_circle-three {
  width: 100%;
  background-image: url('./index_imgs/IMG_2148.GIF');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.index_steps_circle-four {
  width: 100%;
  background-image: url('./index_imgs/up.GIF');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.index_step_words {
  position: relative;
  top: 8%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1.5;
  color: white;
  text-decoration: none;
}
.index_step_words:hover {
  color: #05f2f2;
  text-decoration: none;
  font-size: 16px;
  transition: 0.5s ease-out;
}
.index_next_icon {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #05f2f2;
  background-image: linear-gradient(90deg, #05f2f2 0%, #000 27%);
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index_next_icon:hover {
  animation: glace-2 0.5s ease-out;
}
.index-sec-container-bottom {
  width: 100%;
  height: 30%;
  /* border: 1px solid pink; */
}
.index_section4_bottom_fixed {
  width: 40%;
  height: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
  overflow: hidden;
}
.index_section4_bottom_fixed .fixed_image {
  /* border: 1px solid orange; */
  margin-top: 20%;
  transition-timing-function: cubic-bezier(0.2, 0.4, 0.7, 0.8);
  animation-name: MoveAround;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
@keyframes MoveAround {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* section3  css*/
.animation_try {
  animation: bounce;
  animation-duration: 2s;
}

.do-fade {
  animation: zoomIn;
  animation-duration: 2s;
}

.index_section3 {
  width: 100%;
  height: 100vh;
  background-image: url('./index_imgs/sec3-bg.png');
  background-position: center top, center center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  position: relative;
}
.index_team {
  width: 80%;
  height: 80%;
  /* border: 1px solid #ccc; */
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
}
.index_team-left {
  width: 30%;
  /* border: 1px solid red; */
  margin: 3%;
}
.index_team-right {
  width: 70%;
  /* border: 1px solid blue; */
  position: relative;
}
.index_active-img {
  height: 70%;
  /* border: 1px solid green; */
  padding: 25px 40px;
}
.index_active-text {
  height: 30%;
  /* border: 1px solid yellow; */
  padding: 8px 40px;
}
.index_active-img-box {
  border: 2px solid #ccc;
  height: 100%;
  border-radius: 130px;
}
.index_active-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 130px;
}
/* .img-transition{
 -webkit-transition: opacity .2s linear, border-radius 1s ease-in 1s;
  transition: opacity .2s linear, border-radius 1s ease-in 1s; 
} */

.index_active-text-box {
  /* border:1px solid #ccc; */
  height: 100%;
  display: flex;
}
.index_active-text-box-left {
  width: 3px;
  /* background: #ccc; */
}
.index_active-text-box-right {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid #ccc; */
  margin: 0 auto;
}
.index_active-text-box-right h2 {
  /* border:1px solid red; */
  color: white;
  margin-bottom: 7px;
  font-size: 18px;
  overflow: hidden;
  /* border-right: 0.15em solid #ccc; */
  white-space: nowrap;
  margin: 0 auto 7px auto;
  letter-spacing: 0.15em;
}
.do-animation {
  /* border:1px solid red; */
  color: white;
  /* margin-bottom: 7px; */
  font-size: 20px;
  overflow: hidden;
  border-right: 0.15em solid #ccc;
  white-space: nowrap;
  margin: 0 auto 10px auto;
  letter-spacing: 0.15em;
  animation: typing 5s steps(30, end) 2, blink-caret 0.5s step-end infinite;
}
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent transparent;
  }
  50% {
    border-color: #ccc;
  }
}

.index_right-member {
  width: 80%;
  height: 60%;
  /* border:1px solid red; */
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  flex-wrap: wrap;
}
.index_member {
  height: 50%;
  /* border:1px solid orange; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.index_member img {
  border: 1px solid #ccc;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 30px;
  /* border:1px solid orange; */
}
.index_member p {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.2px;
  /* border:1px solid orange; */
}

/*--------- section2----------- */
.index_sec_two_bg {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}
.index_sec_two_bg_img {
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  overflow: hidden;
}
.index_sec_two_bg_img_outer {
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  -webkit-animation: round 12s linear infinite;
  animation: round 12s linear infinite;
  opacity: 0;
}
@-webkit-keyframes round {
  7% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }

  29% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
  }

  33% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
  }
}
@keyframes round {
  4% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
  }

  29% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
  }

  33% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
  }
}
.index_sec_two_bg_img_outer:nth-child(4) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.index_sec_two_bg_img_outer:nth-child(3) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.index_sec_two_bg_img_outer:nth-child(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.index_sec_two_bg_img_outer:nth-child(1) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}

.index_sec_two_bg_img img {
  width: 70%;
  /* border: 1px solid blue; */
  position: absolute;
  top: 5%;
  height: 90%;
  object-fit: contain;
  background-color: black;
}
.index_sec_two_texts {
  width: 20%;
  height: 20%;
  position: absolute;
  bottom: 15%;
  right: 8%;
  /* border: 1px solid red; */
  color: #ccc;
  padding: 15px;
  background-color: black;
}
.index_sec_two_texts_title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  color: #ccc;
}
.index_sec_two_texts_line {
  width: 30%;
  height: 3px;
  background-color: #05f2f2;
  margin: 18px auto;
}
.index_sec_two_texts_content {
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: 500;
  font-size: 18px;
}

.index_sec_two_texts_outer {
  /* border: 1px solid white; */
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.index__sec_two_texts_outer1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  -webkit-animation: round 12s linear infinite;
  animation: round 12s linear infinite;
  opacity: 0;
}

.index__sec_two_texts_outer1:nth-child(4) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.index__sec_two_texts_outer1:nth-child(3) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.index__sec_two_texts_outer1:nth-child(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.index__sec_two_texts_outer1:nth-child(1) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}

.swiper {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: black;
  object-fit: cover;
  display: flex;
}
.swiper-pagination {
  margin-right: 30px;
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  /* border: 1px solid blue; */
  color: #05f2f2;
  width: 5vw !important;
  height: 5vh !important;
  z-index: 999;
  color: #ccc;
  background-image: url('./index_imgs/left.png');
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  /* border: 1px solid red; */
  width: 5vw;
  height: 100vh;
  z-index: 999;
  background-image: url('./index_imgs/Right.png');
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-button-next.swiper-button-disabled {
  background-image: url('./index_imgs/disabled-right.png');
  background-repeat: no-repeat;
  background-position: center;
}
.swiper-button-prev.swiper-button-disabled {
  background-image: url('./index_imgs/disabled-left.png');
  background-repeat: no-repeat;
  background-position: center;
}
.index_swiper_img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.index_swiper_img4 {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.index_swiper_date {
  width: 7%;
  position: absolute;
  top: 3%;
  right: 2%;
  transition: 1.5s ease-in-out;
}
.index_swiper_date_text p {
  font-family: 'Arsenal', sans-serif;
  color: #fff;
  /* border: 1px solid pink; */
  font-size: 25px;
  text-align: center;
  padding-bottom: 15px;
  letter-spacing: 3px;
}
.index_swiper_date4 {
  position: absolute;
  top: 5%;
  right: 0%;
  width: 30%;
  transition: 1.5s ease-in-out;
}
.index_swiper_title {
  position: absolute;
  left: 2%;
  bottom: 3%;
  transition: 1.5s ease-in-out;
}
.index_swiper_title_text p {
  font-family: 'Arsenal', sans-serif;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  letter-spacing: 3px;
}
.index_swiper_title_text p:nth-child(1) {
  font-size: 40px;
  letter-spacing: 10px;
  border-bottom: 1px solid white;
}
.index_swiper_title4 {
  width: 35%;
  position: absolute;
  right: 2%;
  bottom: 15%;
  transition: 1.5s ease-in-out;
}
.index_swiper_inner_img1 {
  position: absolute;
  width: 13%;
  bottom: 2%;
  left: 18%;
  transition: 1.5s ease-in-out;
}
.index_swiper_inner_img_text {
  width: 230px;
  height: 320px;
  border: 1px solid rgba(255, 255, 255, 0.332);
  background-color: rgba(255, 255, 255, 0.332);
  border-radius: 5px;
}
.index_swiper_inner_img_text_inner {
  width: calc(100%-20px);
  height: 280px;
  background-color: black;
  margin: 10px 10px 30px 10px;
  border-radius: 5px;
  background-image: url('./index_imgs/choose-journey.GIF');
  background-size: cover;
  background-position: center center;
}
.index_swiper_btn {
  position: absolute;
  bottom: 10%;
  right: 8%;
  border: 4px double #05f2f2;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: 14px;
}
.index_swiper_btn:hover {
  background-color: white;
  color: black;
}
.index_swiper_inner_img2 {
  position: absolute;
  bottom: 15%;
  right: 25%;
  transition: 1.5s ease-in-out;
}
.index_swiper_inner_img3 {
  position: absolute;
  bottom: 15%;
  right: 18%;
  transition: 1.5s ease-in-out;
  /* width:15% */
}
