* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Noto Sans HK', sans-serif;
  font-family: 'Noto Sans TC', sans-serif; */
  /* color: #fff; */
}

/* chrome的input樣式 */
.user-avatar-wrapper input:-webkit-autofill {
  -webkit-animation: autofill-fix 1s infinite;
  /* -webkit-text-fill-color: #fff; */
}
@-webkit-keyframes autofill-fix {
  from {
    background-color: transparent;
  }
  to {
    background-color: transparent;
  }
}
/* start navbar */
.nav.user_nav {
  /* position: fixed; */
  left: 0;
  top: 0;
  width: 15%;
  height: 100vh;
  position: sticky;
}
@media (max-width: 600px) {
  .nav.user_nav {
    display: none;
    width: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .nav.user_nav {
    margin-left: 8px;
  }
}
@media (min-width: 1401px) {
  .nav.user_nav {
    margin-left: 5px;
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  .user_nav_ul {
    display: none;
  }
}
.user_nav_item {
  font-size: 14px;
  color: white;
}

@media (min-width: 1401px) {
  .user_nav_item {
    /* font-size: 15px; */
    margin-left: 5px;
    letter-spacing: 1px;
  }
}

.nav.user_nav ul {
  margin-top: 70px;
}
.user_nav-bg {
  background-color: #000;
}
.user_navIcon_adjust {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 5px 0;
}
.user_navIcon_adjust select {
  border: 0px;
  background-color: #000;
  color: #fff;
  margin-left: 8px;
  font-weight: 500;
}
.nav.user_nav i {
  display: block;
  /* margin-bottom: 10px; */
  font-size: 12px;
  color: #808080;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 30px;
  height: 30px;
  /* border:1px solid red; */
}
.nav.user_nav a {
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 500;
  margin-left: 10px;
  color: #fff;
}

.user_nav_title {
  font-size: 12px;
  color: #808080;
  margin-bottom: 20px;
  font-weight: 500;
}
.user_nav-search-bar {
  background-color: #000;
  width: 70%;
  height: 25px;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid #05f2f2;
}

.user-avatar-li{
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-bottom: 20px;
}
.user-avatar-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color:#aaa;
  border: 2px solid #fff;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

.user-account{
  color: #fff;
}

.input-wrapper:after {
  font-family: 'FontAwesome';
  content: '\f002';
  position: absolute;
  top: 3.5px;
  right: 40%;
  font-size: 12px;
  color: #05f2f2;
}
/* end navbar */
