.cart-background {
  background-color: #fff;
  /* height: 100vh; */
}
.cart-container {
  padding-top: 5%;
  /* position: relative; */
  display: flex;

  flex-direction: column;
  padding-bottom: 50px;
}
.cart-steps {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
}
.step-one {
  background-color: #05f2f2;
  color: #000;
}
.process-line {
  position: relative;
}
.cart-ml-6 {
  margin: 0px 80px 20px 80px;
}
.cart-ml-7 {
  margin: 0px 8% 0px 8%;
  z-index: 2;
  text-align: center;
  /* line-height: 1%; */
}
.cart-step-line {
  background-color: #000;
  height: 5px;
  width: 65%;
  /* margin: auto; */
  position: absolute;
  top: 50%;
  left: 17.5%;
}
.total-price-text {
  font-size: 1.7rem;
  font-weight: bold;
}
.cart-btn-check {
  background-color: #023e73;
  color: #fff;
  width: 250px;
  border-radius: 20px;
  margin: auto;
}
.cart-btn-check:hover {
  color: pink;
}
.separated-line {
  width: 100%;
  background-color: #000;
  height: 1px;
  margin-top: 40px;
}
.cart-order-item {
  width: 100%;
  padding: 3.5%;
  /* height: 100%; */
  /* border: 1px solid red; */
}
.cart-img-div {
  width: 50px;
  border: 1px solid green;
  /* height: 200px; */
}
.cart-img-div img {
  width: 100%;
  border: 1px solid rgb(0, 45, 128);
}
.content-detail {
  border: 1px solid brown;
  /* height: 100%; */
}
.content-detail-inside {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}
.content-detail-inside-top {
  display: flex;
  /* justify-content:space-between; */
  border-bottom: 1px solid black;
  width: 100%;
  height: 60%;
  align-items: center;
}
.cart-product-name {
  /* border: 1px solid red; */
  margin: 0;
  display: flex;
  align-items: center;
  width: 60%;
}
.content-detail-inside-bottom {
  display: flex;
  align-items: center;
  height: 40%;
}

.cart-empty-place {
  width: 60%;
  /* border: 1px solid red; */
}
.cart-remove-btn {
  width: 20%;
  background-color: #023e73;
  color: #fff;
  border-radius: 20px;
  font-size: 0.5rem;
  border: 0px;
  /* border: 1px solid red; */
}



.cart-order-money {
  width: 20%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
.cart-select {
  font-size: 1.5rem;
  appearance: none;
  background: url('./img/icons8-chevron-down-64.png') no-repeat right center
    transparent;
  width: 6%;
  /* height: 30%; */
  /* padding: 0px; */
  /* margin-top: 6.5%; */
  /* padding-right: 10px; */
  background-size: 50%;
  border: 0px;
}
