.step-two {
  background-color: #05f2f2;
  color: #000;
}
.cart-chosen-way{
    margin: 5% 1% 3% 1%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
}
.cart-delivery-area{
    padding: 1% 3%;
    background-color: #023e73;
    color: #fff;
}
.cart-payment-way{
    padding: 1% 3%;
    background-color: #023e73;
    color: #fff;
}
.cart-delivery-way{
    padding: 1% 3%;
    background-color: #023e73;
    color: #fff;
}
.cart-information-line{
    border-bottom: 1px solid #023e73;
    margin-bottom: 5%;
}
.consumer-recipient-information{
    margin-top: 3%;
    padding: 1% 2%;
    width: 16%;
    background-color: #023e73;
    color: #fff;
    text-align: center;
}

.consumer-information-name-mobile-email{
    margin-bottom: 3%;
}
.consumer-recipient-label-margin{
    text-align: right;
    /* border: 1px solid red; */
    /* margin: 0 5% 0 3%; */
    margin-right: 3%;
    width: 7%;
    font-size: 1.1rem;
}
.consumer-recipient-input{
    padding: 0.5% 0% 0.5% 1%;
    width: 40%;
    border: 1px solid #ccc;
}
.mobile-or-telephone{
    display: inline-block;
    margin-left: 2%;
    color: rgb(152, 152, 152);
}
.recipient-information-name-mobile-email-address{
    /* width: 100%; */
    margin-bottom: 3%;
    display: flex;
    align-items: center;
}
.cart-checkbox-label{
    /* border: 1px solid black; */
    margin-left: 5%;
    display: block;
    position: relative;
    padding-left: 5%;
    font-size: 1.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cart-checkbox{
    border: 1px solid red;
    /* margin: 0% 0% 0% 3%; */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; 
    
}
.cart-checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 15%;
    background-color: #eee;
}
.cart-checkbox-label:hover input ~ .cart-checkmark {
    background-color: #ccc;
}
.cart-checkbox-label input:checked ~ .cart-checkmark {
    background-color: #2196F3;
}
.cart-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.cart-checkbox-label input:checked ~ .cart-checkmark:after {
    display: block;
}
.cart-checkbox-label .cart-checkmark:after {
    left: 7px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.select-consumer-recipient-input{
    display: inline-block;
    /* border: 1px solid red; */
    width: 40%;
}
.select-consumer-recipient-input-bottom{
    width: 100%;
}
.recipient-input-address{
    width: 100%;
    padding: 0.5% 0% 0.5% 2%;
    border: 1px solid #ccc;
}
.select-city{
    width: 100%;
    padding: 0.5% 0% 0.5% 1%;
    border: 1px solid #ccc;
    color: rgb(123, 123, 123);
}
.select-district{
    width: 100%;
    padding: 0.5% 0% 0.5% 1%;
    border: 1px solid #ccc;
    color: rgb(123, 123, 123);
}
.previous-next-btn{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}
.position{
    position: relative;
}
.arrow {
    position: absolute;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.left {
    top: 32%;
    left: 10%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right {
    top: 32%;
    right: 10%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@media screen and (min-width: 576px){
    .consumer-information{
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 768px){
    .consumer-information{
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 992px){
    .consumer-information{
        font-size: 1.3rem;
    }
}
