.cart-background {
  background-color: #fff;
  /* height: 100vh; */
}
.cart-container {
  padding-top: 5%;
  /* position: relative; */
  display: flex;

  flex-direction: column;
  padding-bottom: 50px;
}
.cart-steps {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
}
.step-one {
  background-color: #05f2f2;
  color: #000;
}
.process-line {
  position: relative;
}

/* .cart-ml-7 { 整段移去 RWD 那邊修改了
  margin: 0px 8% 0px 8%;
  z-index: 2;
  text-align: center;
  line-height: 1%;
} */
.cart-step-line {
  background-color: #000;
  height: 5px;
  width: 65%;
  /* margin: auto; */
  position: absolute;
  top: 50%;
  left: 17.5%;
}
.total-price-text {
  font-size: 1.7rem;
  font-weight: bold;
}
.cart-btn-check {
  background-color: #023e73;
  color: #fff;
  width: 250px;
  border-radius: 20px;
  margin: auto;
}
.cart-btn-check:hover {
  color: pink;
}
.separated-line {
  width: 100%;
  background-color: #000;
  height: 1px;
  margin-top: 40px;
}
.cart-order-item {
  width: 100%;
  padding: 3.5%;
  /* height: 100%; */
  /* border: 1px solid red; */
}
.cart-img-div {
  width: 50px;
  /* border: 1px solid green; */
  /* height: 200px; */
}
.cart-ticket-margin-y{
  margin-top: 2%;
}
.cart-img-div img {
  width: 100%;
  /* border: 1px solid rgb(0, 45, 128); */
}
.content-detail-inside {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}
.content-detail-inside-top {
  display: flex;
  /* justify-content:space-between; */
  border-bottom: 1px solid black;
  width: 100%;
  height: 60%;
  align-items: center;
}
/* 商品衣服、褲子 */
.cart-product-name {
  /* border: 1px solid red; */
  margin: 0;
  display: flex;
  align-items: center;
  width: 60%;
}
.content-detail-inside-bottom {
  display: flex;
  align-items: center;
  height: 40%;
}

.cart-remove-btn {
  width: 20%;
  background-color: #023e73;
  color: #fff;
  border-radius: 20px;
  font-size: 0.8rem;
  border: 0px;
  font-weight: bold;
  /* border: 1px solid red; */
}

.cart-remove-btn:hover {
  color: pink;
}

.cart-order-money {
  width: 20%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 1.1rem; 字體大小控制在 @media 那邊 */
  font-weight: bold;
}
.cart-select {
  /* font-size: 1.5rem; 字體大小控制在 @media 那邊 */
  appearance: none;
  background: url('./img/icons8-chevron-down-64.png') no-repeat right center
    transparent;
  /* width: 6%;  寬度大小控制在 @media 那邊*/
  /* height: 30%; */
  /* padding: 0px; */
  /* margin-top: 6.5%; */
  /* padding-right: 10px; */
  border: 0px solid red;
}
.content-detail-inside-top-ticket {
  display: flex;
  /* justify-content:space-between; */
  border-bottom: 1px solid black;
  padding: 5% 0px;
  width: 100%;
  height: 70%;
  /* align-items: center; */
}
.content-detail-inside-bottom-ticket {
  display: flex;
  align-items: center;
  height: 30%;
  margin-top: 5%;
}
.cart-ticket-destination {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  justify-content: space-around;
}

/* 票種 */
.cart-trip-name {
  /* border: 1px solid red; */
  margin: 0;
  /* display: flex; */
  /* justify-content: start; */
  /* width: 60%; */
}
.cart-trip-food {
  /* border: 1px solid red; */
  margin: 0;
  /* display: flex; */
  /* justify-content: end; */
  /* width: 60%; */
}
.cart-ticket-during {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  justify-content: space-around;
}
.cart-number-people {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1rem;
  /* border: 1px solid red; */
}
.content-detail-inside-top-suit {
  display: flex;
  /* justify-content:space-between; */
  border-bottom: 1px solid black;
  width: 100%;
  height: 70%;
  /* align-items: center; */
}
.cart-suit-name {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  justify-content: center;
}
.cart-ticket-country-badge {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  justify-content: space-around;
  border: 0px solid red;
}
.content-detail-inside-bottom-suit {
  display: flex;
  align-items: center;
  height: 30%;
}
.cart-select-country-badge {
  /* font-size: 1.1rem; 字體大小控制在 @media 那邊  */
  /* appearance: none; */
  /* background: url('./img/icons8-chevron-down-64.png') no-repeat right center; */
  width: 100%;
  /* height: 30%; */
  /* padding: 0px; */
  /* margin-top: 6.5%; */
  /* padding-right: 10px; */
  /* background-size: 14%; */
  border: 0px solid red;
}
.cart-product-seat {
  /* border: 1px solid red; */
  margin: 0;
  display: flex;
  align-items: center;
  width: 60%;
}
.cart-select-color {
  /* font-size: 1.2rem; 字體大小控制在 @media 那邊 */
  /* appearance: none; */
  /* background: url('./img/icons8-chevron-down-64.png') no-repeat right center; */
  width: 40%;
  /* height: 30%; */
  /* padding: 0px; */
  /* margin-top: 6.5%; */
  /* padding-right: 10px; */
  /* background-size: 13%; */
  border: 0px solid red;
}
.spaceship-height{
  height: 260px;
  object-fit: contain;
}
.content-detail-inside-top-spaceship{
  display: flex;
  /* justify-content:space-between; */
  border-bottom: 1px solid black;
  width: 100%;
  height: 70%;
  /* align-items: center; */
}
.content-detail-inside-bottom-spaceship{
  display: flex;
  align-items: center;
  height: 30%;
  margin-top: 2%;
}
.cart-spaceship {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  justify-content: space-around;
}
.cart-spaceship-name {
  /* border: 1px solid red; */
  margin: 0;
  /* display: flex; */
  /* justify-content: start; */
  /* width: 60%; */
}
.cart-spaceship-text{
  /* border: 1px solid red; */
  margin: 0;
  /* display: flex; */
  /* justify-content: end; */
  /* width: 60%; */
}
.cart-country-flag{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  justify-content: space-around;
}

.cart-user-option-should-pay{
  /* border: 1px solid red; */
  height: 250px;
  margin-top: 3%;
  display: flex;
}
.cart-user-option{
  /* border: 1px solid blue; */
  padding: 0% 5% 0 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cart-user-option-text{
  /* background-color: rgb(220, 220, 220); */
  height: 15%;
  padding-left: 3%;
  font-size: 1.3rem;
  appearance: none;
  background: url('./img/icons8-chevron-down-64.png') no-repeat right center rgb(220, 220, 220);
  background-size: 4%;
  border: 0px;
}
.cart-should-pay{
  border-left: 1px solid black;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cart-should-pay-text{
  text-align: right;
  width: 85%;
  /* border: 1px solid red; */
  margin: 0% 5%;
}
.cart-should-pay-separated-line {
  width: 85%;
  background-color: #000;
  height: 1px;
  margin: 0% 5%;
}
.cart-should-pay-total-price{
  text-align: right;
  /* border: 1px solid red; */
  width: 85%;
  margin: 0% 5%;
  font-size: 1.3rem;
}
.cart-button{
  /* border: 1px solid blue; */
  width: 85%;
  margin: 0% 5%;
  display: flex;
  justify-content: space-around;
}
.continue-btn{
  width: 40%;
  background-color: #023e73;
  color: #fff;
  border-radius: 20px;
  font-size: 1.1rem;
  /* border: 1px solid hotpink; */
  font-weight: 600;
}
.next-btn{
  width: 40%;
  background-color: #023e73;
  color: #fff;
  border-radius: 20px;
  font-size: 1.1rem;
  /* border: 1px solid hotpink; */
  font-weight: 600;
}

@media screen and (min-width: 375px) {
  .step-text{
    margin: 0px 4% 6px 4%;
    font-size: 0.8rem;
  }
  .cart-ml-7 {
    margin: 0px 5% 0px 5%;
    z-index: 2;
    text-align: center;
    /* line-height: 1%; */
  }
  .cart-step-line {
    background-color: #000;
    height: 5px;
    width: 80%;
    /* margin: auto; */
    position: absolute;
    top: 50%;
    left: 10%;
  }
  .cart-steps {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
  }
  .step-one {
    background-color: #05f2f2;
    color: #000;
  }
  
  .total-price-text{
    font-size: 1.5rem;
    text-align: center;
  }
  .cart-select-country-badge{
    font-size: 0.8rem;
    width: 100%;
  }
  .cart-suit-name{
    font-size: 1.1rem;
    width: 40%;
  }
  .cart-ticket-country-badge{
    width: 60%;
  }
  .cart-product-seat{
    font-size: 1.1rem;
    width: 40%;
  }
  .cart-select-color {
    font-size: 0.8rem;
    width: 60%;
  }
  .cart-order-money{
    font-size: 0.7rem;
    width: 30%;
  }
  .cart-remove-btn{
    font-size: 0.5rem;
    width: 30%;
    /* background-size: auto; */
  }
  .cart-empty-place{
    width: 40%;
  }
}
@media screen and (min-width: 576px) {
  .step-text{
    margin: 0px 7% 20px 7%;
  }
  .cart-ml-7 {
    margin: 0px 8% 0px 8%;
    z-index: 2;
    text-align: center;
    /* line-height: 1%; */
  }
  .cart-step-line {
    background-color: #000;
    height: 5px;
    width: 75%;
    /* margin: auto; */
    position: absolute;
    top: 50%;
    left: 15%;
  }
  .cart-steps {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
  }
  .step-one {
    background-color: #05f2f2;
    color: #000;
  }
  .cart-select{
    font-size: 1rem;
    width: 10%;
    background-size: 50%;
  }
  .cart-product-name{
    font-size: 1rem;
    width: 50%;
  }
  .cart-number-people{
    width: 40%;
  }
  .cart-ticket-destination{
    width: 40%;
  }
  .cart-trip-name{
    font-size: 1rem;
    margin-bottom: 10%;
  }
  .cart-trip-food{
    font-size: 1rem;
  }
  .cart-ticket-during{
    width: 60%;
  }
  .cart-start-time{
    font-size: 1rem;
    margin-bottom: 10%;
  }
  .cart-gohome-time{
    font-size: 1rem;
  }
  .cart-select-country-badge{
    font-size: 1rem;
    width: 100%;
  }
  .cart-suit-name{
    font-size: 1rem;
    width: 40%;
  }
  .cart-ticket-country-badge{
    width: 60%;
  }
  .cart-product-seat{
    font-size: 1rem;
    width: 40%;
  }
  .cart-select-color {
    font-size: 1rem;
    width: 60%;
  }
  .cart-order-money{
    font-size: 1rem;
    width: 30%;
  }
  .cart-remove-btn{
    width: 30%;
  }
  .cart-empty-place{
    width: 40%;
  }
  .cart-spaceship{
    width: 40%;
  }
  .cart-spaceship-name{
    font-size: 1rem;
  }
  .cart-spaceship-text{
    font-size: 1rem;
  }
  .cart-country-flag-text{
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .step-text{
    margin: 0px 7.5% 20px 7.5%;
  }
  .cart-step-line {
    background-color: #000;
    height: 5px;
    width: 75%;
    /* margin: auto; */
    position: absolute;
    top: 50%;
    left: 13%;
  }
  .cart-select{
    font-size: 1.1rem;
    width: 10%;
    background-size: 45%;
  }
  .cart-product-name{
    font-size: 1.1rem;
    width: 65%;
  }
  .cart-trip-name{
    font-size: 1.1rem;
  }
  .cart-trip-food{
    font-size: 1.1rem;
  }
  .cart-ticket-destination{
    width: 60%;
  }
  .cart-number-people{
    width: 60%;
  }
  .cart-ticket-during{
    width: 40%;
  }
  .cart-start-time{
    font-size: 1.1rem;
  }
  .cart-gohome-time{
    font-size: 1.1rem;
  }
  .cart-select-country-badge{
    font-size: 1.1rem;
    width: 80%;
  }
  .cart-suit-name{
    font-size: 1.1rem;
    width: 60%;
  }
  .cart-ticket-country-badge{
    width: 40%;
  }
  .cart-product-seat{
    font-size: 1.1rem;
    width: 60%;
  }
  .cart-select-color {
    font-size: 1.1rem;
    width: 40%;
  }
  .cart-order-money{
    font-size: 1.1rem;
    width: 20%;
  }
  .cart-remove-btn{
    width: 20%;
  }
  .cart-empty-place{
    width: 60%;
  }
  .cart-spaceship{
    width: 60%;
  }
  .cart-spaceship-name{
    font-size: 1.1rem;
  }
  .cart-spaceship-text{
    font-size: 1.1rem;
  }
  .cart-country-flag-text{
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 992px) {
  .cart-select{
    font-size: 1.3rem;
    width: 8%;
    background-size: 40%;
  }
  .cart-product-name{
    font-size: 1.5rem;
    width: 65%;
  }
  .cart-trip-name{
    font-size: 1.5rem;
  }
  .cart-trip-food{
    font-size: 1.5rem;
  }
  .cart-start-time{
    font-size: 1.3rem;
  }
  .cart-gohome-time{
    font-size: 1.3rem;
  }
  .cart-select-country-badge{
    font-size: 1.3rem;
    width: 60%;
  }
  .cart-suit-name{
    font-size: 1.5rem;
  }
  .cart-product-seat{
    font-size: 1.5rem;
  }
  .cart-select-color {
    font-size: 1.3rem;
    width: 25%;
  }
  .cart-order-money{
    font-size: 1.3rem;
  }
  .cart-spaceship-name{
    font-size: 1.5rem;
  }
  .cart-spaceship-text{
    font-size: 1.5rem;
  }
  .cart-country-flag-text{
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1200px) {
  .cart-select-country-badge{
    width: 50%;
  }
  .cart-select-color {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  
}
