.step-three-on {
    background-color: #05f2f2;
    color: #000;
}
.cart-list-line{
    border-bottom: 1px solid #023e73;
    margin-bottom: 1%;
}
.cart-check-list{
    font-weight: bold;
    padding: 5% 0% 2% 0%;
}
.list-detail-text{
    margin-top: 3%;
    padding: 1% 1%;
    width: 13%;
    background-color: #023e73;
    color: #fff;
    text-align: center;
}
.cart-list-detail-inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-product-list-group{
    font-size: 1.5rem;
    font-weight: bold;
}
.cart-list-detail-line{
    width: 100%;
    background-color: #000;
    height: 1px;
    margin-top: 10px;
}
/* .limit-width{
    width: 50%; 這個改不動的原因是下了 col-8 寬度已被bootstrap限制了，改成 col-6 col-3 都會動
    
} */
.need-width{
    width: 100%;
}
.final-total-price{
    padding-right: 5%;
    padding-top: 3%;
    font-size: 1.5rem;
    font-weight: 600;
}
.recipient-final-info{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 500;
}
@media screen and (min-width: 576px){
    .list-detail-text{
        width: 16%;
    }
    .cart-check-list{
        font-size: 1.2rem;
        text-align: center;
    }
    .cart-product-list-group{
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 768px){
    .list-detail-text{
        width: 14%;
    }
    .cart-check-list{
        font-size: 1.5rem;
    }
    .cart-product-list-group{
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 992px){
    .list-detail-text{
        width: 13%;
    }
    .cart-check-list{
        font-size: 1.7rem;
    }
    .cart-product-list-group{
        font-size: 1.6rem;
    }
    .recipient-final-info{
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 1200px){
    .list-detail-text{
        width: 12%;
    }
}