.forgotpwd-container {
  width: 100%;
  height: 100vh;
  background: url('/public/member_img/gettyimages-590286833-2048x2048 1.png')
    center center/cover no-repeat;
}

.forgotpwd-group {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.forgotpwd-form-container{
  width: 35%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}


.forgotpwd-form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2rem;
  color: #fff;
  line-height: 1.5;
}

.forgotpwd-form-title h1 {
  font-size: 35px;
  font-weight: 500;
}

.forgotpwd-form-title p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.forgotpwd-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;

}

.member-input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
}

.member-label {
  width: 80px;
  /* border: 1px solid red; */
  text-align: right;
  margin-right: 20px;
}

.member-input {
  width: 70%;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5rem 1rem;
  line-height: 1.2rem;
}

.member-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3.5%;
  
}

.member-return-btn-wrap{
  margin-right: 30px;
}
