.login-container {
  width: 100%;
  height: 100vh;
  background: url('/public/member_img/space_tourist 1.png') center center/cover
    no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;
}

.login-shadow-container{
  width: 100%;
  height: 1vh;
  position:absolute;
  bottom: 0;
  box-shadow: 10px 10px 30px 20px rgb(0, 0, 0, 0.6) inset;
}



.login-group {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 33%;
  height: 100vh;
  top: 0;
  right: 110px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 84%;
  padding-bottom: 2rem;
}

.login-header h1 {
  color: #fff;
  margin-bottom: 6rem;
  font-weight: 500;
  font-size: 2rem;
}

.login-form {
  width: 90%;
  padding-bottom: 3rem;
}

.text-input {
  margin-bottom: 1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  color: #fff;
  padding: 0.4rem 1rem;
  line-height: 1.2rem;
}

.login-forgot-pwd {
  width: 100%;
  align-self: end;
}

.login-forgot-pwd a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: right;
  font-size: 0.5rem;
}

.login-btn-container {
  width: 90%;
}

.login-or {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}

.login-or span {
  color: #aaa;
  padding: 0 0.8rem;
  font-size: 0.5rem;
}

.login-google-btn {
  margin-bottom: 1.5rem;
}

.login-notyet {
  margin-bottom: 0.8rem;
}

.login-notyet a {
  color: #aaa;
  text-decoration: none;
  font-size: 0.5rem;
}

.login-primary-btn,
.login-google-btn,
.login-signup-btn {
  width: 100%;
  padding: 0.3rem 1rem;
  line-height: 1.2rem;
  display: block;
  border-radius: 50px;
  font-weight: 400;
  font-size: 0.6rem;
  border: 1px solid #05f2f2;
  background: #05f2f2;
  color: #000;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s;
}

.login-primary-btn:hover {
  background-color: #4ff3f3;
}

.login-google-btn,
.login-signup-btn {
  background: rgba(0, 0, 0, 0.8);
  color: #05f2f2;
}
