.signup-container {
  width: 100%;
  height: 100vh;
  background: url('/public/member_img/gettyimages-590286833-2048x2048 1.png')
    center center/cover no-repeat;
}

.signup-group {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.signup-header {
  width: 88%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  /* color:white; */
}
.signup-header p {
  color: white;
}

.signup-header p > a{
  color: #05f2f2;
}

.signup-form-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}
/* .signup-form-container {
  border: 1px solid red;
} */

.signup-form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2rem;
  color: #fff;
  line-height: 1.5;
}

.signup-form-title h1{
  font-size: 35px;
  font-weight: 500;
}

.signup-form-title p{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.signup-form{
  margin-bottom: 1.2rem;
}

.input-container {
  /* border: 1px solid red; */
  /* margin: 0 auto; */
  /* text-align: center; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: flex-start; */
  align-items: center;
  margin-bottom: 1.2rem;
  color: #fff;
}

.signup-label {
  width: 70px;
  /* border: 1px solid red; */
  text-align: right;
  margin-right: 20px;
}

.signup-input {
  width: 70%;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5rem 1rem;
  line-height: 1.2rem;
}

.signup-gender {
  /* border: 1px solid #11c5bc; */
  display: flex;
  width: 70%;
}

.signup-wrap{
  width: 70%;
}

.signup-date-input{
  width: 70%;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  color: #fff;
  padding: 0.4rem 1rem;
  line-height: 1.2rem;
}

.international-code-select{
  width: 92px;
  margin-right: 5px;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  color: #fff;
  padding: 0.3rem 1rem;
  line-height: 1.2rem;
}

.signup-mobile-input{
  width: 77%;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  color: #fff;
  padding: 0.47rem 1rem;
  line-height: 1.2rem;
}

.signup-country-select {
  width: 70%;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  color: #fff;
  padding: 0.4rem 1rem;
  line-height: 1.2rem;
  
}
.signup-btn-container {
  width: 20%;
  display: flex;
  align-self: center;
}

.signup-btn {
  width: 100%;
  padding: 0.3rem 1rem;
  line-height: 1.2rem;
  display: block;
  border-radius: 50px;
  font-weight: 400;
  font-size: 0.6rem;
  border: 1px solid #05f2f2;
  background: #05f2f2;
  color: #000;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s;
}
.signup-btn:hover {
  background-color: #4ff3f3;
}
