.Customsuit-page-view {
  width: 100%;
  /* navbar高的60px */
  height: calc(100vh - 60px);
  background: rgb(0, 0, 0);
  overflow: hidden;
  position: relative;
}
.left-page-svg {
  position: absolute;
  left: 0;
  width: 100%;
  filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
  z-index: 0;
  opacity: 1;
}
.right-page-svg {
  position: absolute;
  right: 0;
  width: 100%;
  filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
  opacity: 1;
}
.back-circle {
  z-index: 1;
  position: absolute;
  right: 65vw;
  top: 2%;
  height: 88vh;
  width: 88vh;
  border-radius: 50%;
  background-color: #121212;
  box-shadow: 5px 0px 15px rgb(0, 0, 0);
  opacity: 1;
}
.image-mirrow {
  position: absolute;
  top: 1vh;
  left: 0%;
  height: 85vh;
  width: 85vh;
  border-radius: 50%;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: inset -5px -5px 20px rgb(0, 0, 0);
  /* outline: 3px solid black; */
}
/* 照片放大 */
.image-mirrow-img {
  position: absolute;
  left: -60%;
  top: -10%;
  max-height: 250%;
  width: auto;
  filter: drop-shadow(-50px 10px 15px rgba(0, 0, 0, 0.3));
}

.suit-circle {
  z-index: 2;
  position: absolute;
  top:5%;
  right: 45%;
  opacity: 1;
}
.suit-circle-step {
  width: auto;
  height: auto;
  min-width: 100%;
  filter: drop-shadow(-30px 10px 10px rgb(0, 0, 0));
}
.suit-circle-btn {
  position: absolute;
  right: 3%;
  bottom: 11%;
  display: flex;
  background-color: #05f2f2;
  color: #121212;
  padding: 7px 14px;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  box-shadow: -30px 10px 20px #00000050;
  z-index: 2;
}
.suit-circle-btn:after {
  content: '';
  width: 92px;
  height: 36px;
  border: 2px solid #05f2f2;
  border-radius: 30px;
  position: absolute;
  top: -4px;
  right: -4px;
  box-shadow: 0 0 15px #05f2f281;
}
.maybe-use-canvus img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 4%;
  right: -5%;
  filter: drop-shadow(-40px 5px 15px rgba(0, 0, 0, 0.5));
}
.suit-card {
  z-index: 1;
  color: #05f2f2;
  position: absolute;
  right: 10%;
  top: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.suit-card h1 {
  font-size: 36px;
  margin-bottom: 5px;
}
.suit-card h3 {
  font-size: 14px;
  margin-bottom: 30px;
}
.suit-card h2 {
  font-size: 24px;
  margin-bottom: 30px;
}
.suit-select-color {
  width: 330px;
  height: 90px;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;
  background-color: #323232;
  border-radius: 10px;
}
.white {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
}
.orange {
  width: 35px;
  height: 35px;
  background-color: #EE6A26;
  border-radius: 50%;
}
.blue {
  width: 35px;
  height: 35px;
  background-color: #0072D6;
  border-radius: 50%;
}
.country-select {
  width: 120%;
  height: 100px;
  border: 1px solid #05f2f2;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: #323232;
}
.mark-select {
  width: 120%;
  height: 200px;
  border: 1px solid #05f2f2;
  background-color: #323232;
  border-radius: 10px;
}
