.customorder-footer {
  position: relative;
}
.customorder-view {
  backdrop-filter: blur(10px);
  transition: 1s ease-in-out;
}
.modal-content {
  width: 600px;
  height: 600px;
  background: url('./images/modal.png') center center / cover no-repeat;
  border-radius: 15px;
  position: relative;
  box-shadow: -5px 5px 20px black;
}
.customorder-circle-btn {
  position: relative;
  display: flex;
  background-color: rgba(0, 0, 0, 0.11);
  color: #05f2f2;
  padding: 7px 14px;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  box-shadow: -30px 10px 20px #00000050;
  z-index: 2;
  transition: 0.3s ease-in-out;
}
.customorder-circle-btn:after {
  content: '';
  width: 92px;
  height: 36px;
  border: 2px solid #05f2f2;
  border-radius: 30px;
  position: absolute;
  top: -4px;
  right: -4px;
  box-shadow: 0 0 20px #05f2f281;
  transition: 0.3s ease-in-out;
}
.customorder-circle-btn:hover:after {
  box-shadow: 0 0 25px #05f2f2;
}
.customorder-circle-btn:hover {
  background-color: #05f2f2;
  color: #000000;
}
/* :focus */
.customorder-circle-btn:focus {
  outline: none;
}
.cancel-btn {
  padding: 7px 28px 7px 28px;
  margin-left: 7px;
}
.customorder-header{
  position: relative;
}
.customorder-header .close{
  margin:  0;
  position: absolute;
  right: 0;
  top: 0;
}
.customorder-header h1{
  margin: 5px auto;
  font-size: 30px;
  color: aliceblue;
}
.customorder-body{
  color: aliceblue;
}