.Customcraft-page-view {
  width: 100%;
  /* navbar高的60px */
  height: calc(100vh - 60px);
  overflow: hidden;
  position: relative;
  background:url(/public/customize_img/starry.jpg) right top /cover no-repeat;
}
.craft-tools {
  z-index: 1;
  position: absolute;
  top: 5%;
  right: 30vw;
  width: 50%;
  min-width: 50%;
}
.craft-step {
  position: absolute;
  right: 4.5vw;
  width: 770px;
  min-width: 700px;
  filter: drop-shadow(-15px 10px 8px black);
}
.craft-img {
  position: absolute;
  top: -5px;
  right: 22vw;
  width: 120px;
  opacity: 1;
  filter: drop-shadow(-50px 15px 20px rgba(0, 0, 0, 0.4));
}
.craft-string {
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Noto Sans HK';
  color: #4e4e4e;
  width: 150px;
  height: 25px;
  /* background-color: #fff; */
  position: absolute;
  top: 60%;
  left: -10%;
  transform: rotate(-90deg);
}

.craft-string2 {
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Noto Sans HK', sans-serif;
  color: #3b3b3b;
  width: 150px;
  height: 25px;
  /* background-color: #fff; */
  position: absolute;
  top: 42%;
  left: 20%;
}
.craft-main-area {
  z-index: 1;
  border-radius: 20px;
  position: absolute;
  top: 15%;
  right: 64vw;
  width: 30%;
  height: 67%;
  background-color: rgb(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.craft-area-view1 {
  position: relative;
  /* border: 1px solid red; */
  width: 350px;
  height: 150px;
  overflow: hidden;
}
/* 太空船背景 */
.craft-area-view1-country {
  object-fit: cover;
  width: 75px;
  height: 45px;
  transition: 0.8s ease-in-out;
}
.craft-filter {
  filter: contrast(0.9);
  z-index: 1;
  position: absolute;
  right: 14%;
  top: 33%;
  transition: 0.8s ease-in-out;
}
.craft-filter::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 1px;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.4) 90%
  );
}
/* 太空船 */
.craft-area-view1-country2 {
  object-fit: cover;
  width: 65px;
  height: 39px;
  transition: 0.8s ease-in-out;
}
.craft-filter2 {
  filter: contrast(0.9);
  transform: rotate(-90deg);
  z-index: 1;
  position: absolute;
  right: 22.5%;
  top: 8%;
  transition: 0.8s ease-in-out;
}
.craft-filter2::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 1px;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(255, 255, 255, 0) 60%,
    rgba(0, 0, 0, 0.4) 90%
  );
}

.craft-area-view1-pic {
  width: 40%;
  position: absolute;
  top: -213%;
  left: -33%;
  transform: rotate(90deg);
}
.craft-area-view2 {
  position: relative;
  /* border: 1px solid red; */
  width: 350px;
  height: 150px;
  overflow: hidden;
}
.craft-area-view2-pic {
  width: 40%;
  position: absolute;
  top: -213%;
  left: 45%;
  transform: rotate(90deg);
}
.craft-main-area::after {
  position: absolute;
  right: 8%;
  bottom: 5%;
  content: '';
  width: 3px;
  height: 180px;
  box-sizing: content-box;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0.1),
    rgb(0, 255, 255) 50%,
    hsla(0, 0%, 0%, 0.1)
  );
}
.craft-main-area::before {
  position: absolute;
  left: 8%;
  top: 5%;
  content: '';
  width: 3px;
  height: 180px;
  box-sizing: content-box;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0.1),
    rgb(0, 255, 255) 50%,
    hsla(0, 0%, 0%, 0.1)
  );
}
.craft-lorem {
  position: absolute;
  right: 5%;
  top: 35%;
  width: 250px;
  height: 100px;
  color: #939393;
  text-align: left;
  font-size: 14px;
  line-height: 150%;
}
/* BTN */
.craft-circle-btn {
  position: relative;
  display: flex;
  background-color: #000000;
  color: #05f2f2;
  padding: 7px 14px;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  box-shadow: -30px 10px 20px #00000050;
  z-index: 2;
  margin-top: 30%;
  transition: 0.3s ease-in-out;
}
.craft-circle-btn:after {
  content: '';
  width: 92px;
  height: 36px;
  border: 2px solid #05f2f2;
  border-radius: 30px;
  position: absolute;
  top: -4px;
  right: -4px;
  box-shadow: 0 0 20px #05f2f281;
  transition: 0.3s ease-in-out;
}
.craft-circle-btn:hover:after {
  box-shadow: 0 0 25px #05f2f2;
}
.craft-circle-btn:hover {
  background-color: #05f2f2;
  color: #000000;
}
.craft-circle-btn:focus {
  outline: none;
}
.craft-card {
  z-index: 1;
  color: #05f2f2;
  position: absolute;
  right: 18%;
  top: 12%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.craft-card h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-shadow: 0 0 15px rgba(5, 242, 242, 0.8);
}
.craft-card h3 {
  font-size: 14px;
  margin-bottom: 30px;
  text-shadow: 0 0 15px rgba(5, 242, 242, 0.8);
}
.craft-card h2 {
  font-size: 24px;
  margin-bottom: 55px;
  text-shadow: 0 0 15px rgba(5, 242, 242, 0.8);
}

.craft-in-label {
  position: relative;
  display: flex;
  margin: 5% 0 17% 0;
}
.craft-in-label label {
  position: absolute;
  top: 35%;
  left: 26%;
  color: #048abf70;
  font-size: 12px;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.craft-in-label input {
  background: none;
  width: 250px;
  height: 40px;
  text-align: center;
  color: #05f2f2;
  border: 1px solid #05f2f2;
  position: relative;
  z-index: 2;
  transition: 0.8s ease-in-out;
}
.craft-in-label input:focus + label {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.craft-in-label input:focus {
  outline: none;
  box-shadow: 0 0 25px #05f2f270;
  border: 1px solid #05f2f2;
  -webkit-stroke: 3px aliceblue;
  transition: 0.5s ease-in-out;
}
.stepLine {
  stroke: #05f2f2;
  stroke-dasharray: 460;
  stroke-dashoffset: 0;
  animation: stepLine1 1.5s ease-in-out forwards;
}
@keyframes stepLine1 {
  0% {
    stroke-dashoffset: 460;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
.stepLine2 {
  stroke: #05f2f2;
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
  animation: stepLine2 1.5s ease-in-out forwards;
}
@keyframes stepLine2 {
  0% {
    stroke-dashoffset: 400;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
.stepLine3 {
  stroke: #05f2f2;
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  animation: stepLine3 1.5s ease-in-out forwards ;
}
@keyframes stepLine3 {
  0% {
    stroke-dashoffset: 280;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.craftMoveLeft1{
  transform: translateX(-1000px);
  animation: suitsMoveLeft 1.5s  ease-in-out forwards ;
}
.craftMoveLeft2{
  transform: translateX(-1100px);
  animation: suitsMoveLeft 1.5s  ease-in-out forwards .7s ;
}
.craftMoveLeft3{
  transform: translateX(-1000px);
  animation: suitsMoveLeft 2s  ease-in-out forwards 1s ;
}
.craftMoveRight1{
  transform: translateX(1300px);
  animation: suitsMoveRight 1.4s ease-in-out forwards ;
}
.craftMoveRight2{
  transform: translateX(1300px);
  animation: suitsMoveRight 1.4s ease-in-out forwards .5s;
}

.craft-img{
  animation: suitsMove 1s ease-in-out forwards 1s;
}
@keyframes suitsMove {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  86% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 1;  }
}
.craftCanvasOnly{ 
  position: absolute;
  top: -400px;
  right: -50%;
  z-index: -9;
  opacity: 0;
letter-spacing: 2px;
}