.Customseat-page-view {
  width: 100%;
  /* navbar高的60px */
  height: calc(100vh - 60px);
  overflow: hidden;
  position: relative;
  background-color: #000;
}
.seat-backcolor {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  filter: brightness(0.9);
}
.seat-backcolor img{
  width: 100%;
  height: 100%;
  filter:drop-shadow(0px 0px 5px rgb(0, 0, 0))
}
.seat-box-img {
  position: absolute;
  top: 10vh;
  right: 55vw;
  z-index: 1;
  width: 500px;
  filter:drop-shadow(-15px 10px 15px rgb(0, 0, 0))
}
.seat-card {
    z-index: 1;
    color: #05f2f2;
    position: absolute;
    right: 18%;
    top: 12%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seat-card h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow:0 0 15px rgba(5, 242, 242, 0.8);
  }
  .seat-card h3 {
    font-size: 14px;
    margin-bottom: 30px;
    text-shadow:0 0 15px rgba(5, 242, 242, 0.8);
  }
  .seat-card h2 {
    font-size: 24px;
    margin-bottom: 70px;
    text-shadow:0 0 15px rgba(5, 242, 242, 0.8);
  }
  .seat-select-color {
    width: 300px;
    height: 66px;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
    background-color: #323232;
    border-radius: 10px;
  }
  .seat-lorem{
      width: 350px;
      color: #939393;
      text-align: left;
      font-size: 14px;
      line-height: 150%;
  }
  
  .seat-circle-btn {
    position: relative;
    display: flex;
    background-color: #000000;
    color: #05f2f2;
    padding: 7px 14px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    box-shadow: -30px 10px 20px #00000050;
    z-index: 2;
    margin-top:30%;
    transition: .3s ease-in-out;
  }
  .seat-circle-btn:after {
    content: '';
    width: 92px;
    height: 36px;
    border: 2px solid #05f2f2;
    border-radius: 30px;
    position: absolute;
    top: -4px;
    right: -4px;
    box-shadow: 0 0 20px #05f2f281;
    transition: .3s ease-in-out;
  }
  .seat-circle-btn:hover:after{
    box-shadow:0 0 25px  #05f2f2;
  }
  .seat-circle-btn:hover{
    background-color: #05f2f2;
    color: #000000;
  }
  .seat-circle-btn:focus{
    outline:none;
  }
  