.forum_personal_container {
  padding-top: 20px;
}
.forum_person {
  color: white;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 0.5px solid white;
}
.forum_person_left {
  width: 150px;
  height: 150px;
  margin-right: 50px;
}
.forum_person_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px double #05f2f2;
  background-image: url('./forum_person_img/Mask-Grouplogo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.forum_person_email,
.forum_person_nickname {
  line-height: 2;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Arsenal';
}
.forum_person_bottom {
  /* border: 1px solid red; */
}
.forum_person_bottom_icon {
  display: flex;
  justify-content: center;
}
.forum_person_posts_savedpage,
.forum_person_saves_savedpage {
  /* border: 1px solid yellow; */
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  letter-spacing: 3px;
  font-size: 14px;
  transition: 0.5s;
}
.forum_person_saves_savedpage:hover,.forum_person_posts_savedpage:hover {
  color: #05f2f2;
  text-decoration: none;
  font-size: 16px;
}
.forum_person_posts_savedpage i,
.forum_person_saves_savedpage i {
  margin-right: 8px;
  font-size: 12px;
}
.forum_person_posts_savedpage {
  border-top: 3px solid #000000;
}
.forum_person_saves_savedpage {
  border-top: 3px solid #05f2f2;
}
.person_posts_photos {
  display: flex;
  flex-wrap: wrap;
}
.col-4.person_posts_photos_single {
  /* border: 1px solid orange; */
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.person_posts_single_photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid #05f2f2; */
}
.person_posts_single_photo:hover {
  transform: scale(1.2, 1.2);
  transition: 1s;
}
.person_posts_single_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.person_posts_single_photo img:hover {
  transform: scale();
}
