// 網站色系
$light-bg: #f7f6f3;
$dark-bg: #212121;
$dark-red: #841d29;
$tint-red: #b03342;
$light-red: #ff5656;
$card-hover: #fffefc;
$light-text: #ffffff;
$dark-text: #575757;
$gray: #c4c4c4;
$logo: #989177;
$shadow: #ddd4bc;
$mtl-border: #eed19a;

// 全站btn與input輸入框都會一起改，textarea請另外用下方的className CSS加入
$border-radius: 2rem;

@import '~bootstrap/scss/bootstrap.scss';

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
// textarea的圓角，有需要的人請自己加上className
.textarea {
  // border-radius: 1rem;
}
