/* start articals */
.forum_artical {
  margin-top: 30px;
  padding-top: 18px;
  width: 78%;
  z-index: 999;
  justify-content: space-around;
  background-color: #000;
}
.forum_user-top-left {
  display: flex;
  align-items: center;
}
.forum_user-top-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  text-decoration: none;
}
.forum_user-top-right i {
  font-size: 12px;
  color: #05f2f2;
  margin-top: 5px;
  margin-right: 8px;
}
.forum_user-top-right p {
  margin-top: 17px;
  font-size: 15px;
  font-family: 'Noto Sans HK';
  color: #fff;
}
.forum_user-top-right :hover {
  text-decoration: none;
}

.forum_card {
  margin: 0 20px;
  border-radius: 20px;
  position: relative;
  background: none;
  margin-bottom: 30px;
}

.forum_card-user {
  display: flex;
  justify-content: space-between;
}

.forum_user-logo {
  border-radius: 50%;
  width: 45px;
  height: 45px;

  margin-right: 15px;
  font-family: 'Noto Sans HK';
  font-weight: 900;
}

.forum_user-logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #fff;
}
.forum_cover {
  object-fit: contain;
}
.forum_user-name {
  margin-top: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.forum_post-time {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}
label {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
}

.forum_btn-group {
  display: flex;
  justify-content: space-between;
}
.forum_btn {
  background: #05f2f2;
  color: rgb(106, 106, 106);
  font-family: 'Noto Sans HK';
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border: 0px;
}
.forum_btn i {
  margin-right: 6px;
}
.forum_btn-white {
  background: #fff;
  color: #595959;
  margin-right: 10px;
}

/* end article */
