
@media (min-width: 1920px) {
  .footercontainer {
    max-width: 90rem;
  }
}
@media (min-width: 992px) {
  .footercontainer {
    /* border: 1px solid white; */
    width: 100%;
    /* padding: 0 300px; */
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.ooo{
padding-left: 20px;
}
.bg-footer {
  background-image: url('/public/footer.png');
  background-position: center center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.footercontainer {
  padding-right: 0px;
  padding-left: 0px;
  margin: 0 auto;
}

.f1 {
  padding: 65px 0px 0px;
}

.f2,
.f3 {
  padding: 0px;
  margin-right: 40px;
}

.f4 {
  padding: 0px;
}

.f2-p, .f3-p, .f4-p{
  font-size: 12px;
}

.f2-p, .f3-p{
  margin-left: 17px;
}

.f5 {
  text-align: right;
  padding: 30px 75px 0px 0px;
}

.f5-p {
  text-align: center;
  display: flex;
}

.f5 a {
  color: #acacac;
  text-decoration: none;
  transition: all 0.5s;
}

.f5 a:hover {
  color: #1bbc9b;
  text-decoration: none;
}

.f6 {
  text-align: center;
}

li {
  color: white;
  letter-spacing: 1px;
}

.footer-heading {
  font-size: 30px;
  color: white;
}

.footer-heading2 {
  font-size: 21px;
  color: #05f2f2;
}

.footer-link a {
  color: #acacac;
  line-height: 40px;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #1bbc9b;
  text-decoration: none;
}



.footer-alt {
  color: #acacac;
  word-spacing: 40px;
}

.footer-heading2 {
  position: relative;
  padding-bottom: 12px;

}

.footer-heading2:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}

@media (max-width: 991px) {
  .footerrow {
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
  }

  .footer-heading2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .footer-heading2:after {
    border-bottom: 0px;
  }

  .f1 {
    margin-bottom: 50px;
  }

  .fa-brands {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    color: white;
  }
}
