.sliderWrap img {
  width: 100%;
}

.ticket-trip-prev-btn.disabled,
.ticket-trip-next-btn.disabled {
  background-color: rgb(216, 216, 216);
  color: white;
}

/* 訂票輸入欄樣式開始 */
.ticketWrap {
  background: url(img/ticket-order-bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.inputArea {
  width: 30%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.698);
  margin-left: 10%;
  position: absolute;
  bottom: 5%;
  text-align: center;
}

.inputArea h2 {
  color: white;
  font-size: 3rem;
  margin: 7% 0;
}

.inputWrap {
  /* border: 1px solid green; */
  width: 85%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputArea label {
  font-size: 1.25rem;
  color: white;
}

.inputArea .inputGroup {
  padding: 6px;
  width: 75%;
  border: #48ede8 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputArea input {
  background-color: transparent;
  border: none;
  color: white;
  width: 80%;
}

.inputArea input:focus-visible {
  outline: none;
}

.inputArea input::placeholder,
.inputGroup p {
  color: white;
  font-size: 0.87rem;
  margin: 0;
}

.inputArea i {
  color: #48ede8;
  font-size: 20px;
  border-left: #48ede8 1px solid;
  text-align: right;
  padding-left: 6px;
}

.inputArea i:first-child {
  padding: 0 6px;
}

.inputPassport {
  padding: 6px;
  width: 60%;
  border: #48ede8 1px solid;
}

.inputArea input#file-upload-button {
  color: red;
}

.uploadButton {
  position: relative;
  margin: 0;
  /* border: 1px solid yellow; */
}

.tickitConfirmBtn {
  background-color: #48ede8;
  color: #023e73;
  width: 40%;
  height: 30px;
  border-radius: 15px;
  border: none;
  /* padding: 7px 0; */
  position: absolute;
  bottom: 5%;
  left: 30%;
  cursor: pointer;
}

.tickitConfirmBtn::after {
  content: '';
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  /* padding: 7px 0; */
  position: absolute;
  top: 4px;
  right: 4px;
}

/* 訂票輸入欄樣式結束 */
/* 輪播牆樣式開始 */
.sliderArea {
  width: 20%;
  height: 100vh;
  position: absolute;
  right: 0;
  overflow: hidden;
  margin-right: 5%;

  padding-left: 30px;
  /* border: 1px solid rgb(0, 255, 42); */
}

.sliderArea .sliderWrap {
  height: 200vh;
  padding-left: 30px;
  /* border: 1px solid yellow; */
  /* margin-top: -100vh; */
  animation: img-slider 35s linear infinite;
}

.sliderArea div {
  height: 25vh;
}

.sliderArea div:nth-child(odd) {
  transform: translateX(-30px);
}

.sliderArea img {
  height: 100%;
  object-fit: cover;
}

@keyframes img-slider {
  from {
    margin-top: 0;
  }

  to {
    margin-top: -200vh;
  }
}

/* 輪播牆樣式結束 */

.ticket-container {
  background-color: black;
  position: relative;
  /* border: 1px solid rgb(197, 16, 197); */
}

img {
  width: 100%;
  max-height: 1050px;
}

.step-circle {
  width: auto;
  height: 100vh;
  position: absolute;
  left: 0;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.step-circle-mb {
  display: none;
}

.ticket-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: -40px;
  font-weight: bold;
  vertical-align: middle;
}

.ticket-steps p {
  margin: 0;
}

.ticket-steps p:last-child {
  font-size: 1.5rem;
}

/* 行程選擇樣式開始 */
.ticket-trip {
  height: 100vh;
  display: flex;
  align-items: center;
  /* border: 1px solid yellow; */
}

.ticket-trip-wrap {
  width: 75%;
  /* border: 1px solid rgb(13, 212, 39); */
  position: absolute;
  right: 0;
  margin: 0 5% 0 0;
  height: 100vh;
  padding: 2% 0;
  /* padding-top: 30px; */
  /* display: flex; */
}

.ticket-trip-wrap h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.ticket-trip-wrap > p {
  text-align: center;
  color: white;
  font-size: 0.9rem;
}

.ticket-trip-list-btn {
  margin: 2% 0;
  text-align: left;
}

.sign-list-btn {
  width: 150px;
  height: 30px;
  margin: 0 auto;
  color: #05f2f2;
  background-color: black;
  border: 4px double #05f2f2;
  border-radius: 200px;
  /* font-size: 18px; */
  cursor: pointer;
  position: relative;
}

.movie-list-btn {
  width: 150px;
  height: 30px;
  margin: 0 auto;
  color: #05f2f2;
  background-color: black;
  border: 4px double #05f2f2;
  border-radius: 200px;
  /* font-size: 18px; */
  cursor: pointer;
  position: relative;
}

.sign-list-btn:hover,
.movie-list-btn:hover {
  background-color: #05f2f2;
  color: black;
  border: 4px double black;
}

.ticket-trip-prev-btn {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 15px);
  left: -15px;
  text-align: center;
  line-height: 50px;
  z-index: 9;
  box-shadow: 5px 5px 5ps gray;
}

.ticket-trip-next-btn {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 15px);
  right: -15px;
  text-align: center;
  line-height: 50px;
  z-index: 9;
  box-shadow: 5px 5px 5ps gray;
}

.ticket-trip-card-area {
  /* border: 2px solid rgb(250, 10, 230); */
  width: 100%;
  overflow: hidden;
}

.ticket-trip-card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* border: 5px solid yellow; */
  width: 200%; /* 隨著資料數量變更改變 */
}

.ticket-trip-card {
  width: 16%; /* 隨著資料數量變更改變 */
  height: 70vh;
  position: relative;
  /* border: 5px solid rgb(255, 115, 0); */
  display: flex;
  flex-direction: column;
}

.ticket-trip-card-head {
  /* height: 45vh; */
  overflow: hidden;
  border: 10px solid white;
  border-bottom: 0;
  flex: 1;
}

.ticket-trip-card-head img {
  height: 100%;
  width: auto;
}

.ticket-trip-card-body {
  padding: 6%;
  background-color: white;
}

.ticket-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5%;
}

.ticket-title h3 {
  font-weight: bold;
}

.ticket-title h3:nth-child(2) {
  color: #048abf;
}

.ticket-trip-card-body p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.ticket-trip-card-footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 6% 6% 6%;
}

.tickit-choose-btn {
  background-color: #000000;
  color: #ffffff;
  width: 40%;
  height: 30px;
  border-radius: 15px;
  border: none;
  /* padding: 7px 0; */
  position: relative;
  cursor: pointer;
}

.tickit-choose-btn::after {
  content: '';
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.tickit-choose-btn:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.tickit-choose-btn:hover::after {
  content: '';
  width: calc(100%);
  height: calc(100%);
  border: 4px double rgb(0, 0, 0);
  border-radius: 15px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.trip-detail-btn {
  background-color: rgb(255, 255, 255);
  color: #000000;
  width: 40%;
  height: 30px;
  border-radius: 15px;
  border: 4px double black;
  /* padding: 7px 0; */
  position: relative;
  cursor: pointer;
}

.trip-detail-btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: 4px double rgb(255, 255, 255);
}

.ticket-trip-days {
  position: absolute;
  background-color: #48ede8;
  color: #023e73;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  right: 5%;
  font-weight: bold;
}

.ticket-next {
  margin-top: 5%;
  color: #48ede8;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 1.2rem;
}

.ticket-next i {
  color: #48ede8;
  font-size: 20px;
}

/* 行程選擇樣式結束 */

/* 出發日期選擇樣式開始 */
.ticket-date {
  height: 100vh;
  background-color: #000000;
  /* border: 5px solid yellow; */
}

.ticket-date-wrap {
  display: flex;
  width: 75%;
  flex-direction: column;
  /* border: 1px solid rgb(15, 189, 53); */
  position: absolute;
  right: 0;
  margin: 0 5% 0 0;
  height: 100vh;
  /* background-color: white; */
  border-radius: 10px;
  padding: 2% 0;
}

.ticket-date-wrap .ticket-date-title h2 {
  margin-bottom: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.ticket-date-wrap .ticket-date-title p {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  /* padding-bottom: 2%; */
}

.ticket-date-content {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  background-color: white;
  border-radius: 10px;
  margin-top: 2%;
}

.ticket-date-content {
  display: flex;
}

.ticket-date-selected-area {
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #313131;
}

.ticket-date-selected {
  /* border: 1px solid yellow; */
  flex: 1;
}

.ticket-date-days {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.ticket-date-days-underline {
  text-align: center;
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 10%;
}

.ticket-date-days h2 {
  font-size: 1.9rem;
  margin-bottom: 0;
  color: var(--main-color-02);
}

.ticket-date-days h2:last-child {
  margin-bottom: 20%;
  /* border: 1px solid green; */
  font-size: 2.2rem;
}

.ticket-date-to,
.ticket-date-from {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}

.ticket-date-from-border,
.ticket-date-to-border {
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  color: white;
  padding: 15% 0;
  color: var(--main-color-02);
  position: relative;
  display: flex;
  justify-content: center;
}

.ticket-date-from-border h4,
.ticket-date-to-border h4 {
  color: white;
  position: absolute;
  top: -0.75rem;
  background-color: #313131;
  padding: 0 5%;
  height: 1.5rem;
  /* border: 1px solid rgb(127, 15, 131); */
}

.ticket-date-from-border p:last-child,
.ticket-date-to-border p:last-child {
  font-size: 1.9rem;
  color: white;
}

/* 月曆樣式開始 */
.ticket-calendar-content {
  width: 100%;
}

.ticket-calender {
  display: flex;
  align-content: stretch;
  width: 100%;
  height: 100%;
  border: 5px solid rgb(36, 80, 32);
  margin: auto;
}

.ticket-calender-title {
  /* border: 1px solid red; */
  text-align: center;
}

.ticket-calender h3 {
  font-size: 2.2rem;
}

.ticket-calender > div:first-child {
  flex: 2;
  padding: 5% 10%;
  position: relative;
  /* height: 100%; */
  /* border: 5px solid rgb(191, 16, 207); */
}

.ticket-calender .ticket-calender-date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tbcal {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  height: 90%;
  /* border: 1px solid red; */
}

.tbcal tr th {
  border-bottom: 1px solid rgb(170, 170, 170);
  width: 14%;
  font-size: 1.5rem;
  vertical-align: bottom;
}

.tbcal tr td {
  border-bottom: 1px solid rgb(170, 170, 170);
  width: 14%;
  font-size: 2.2rem;
  text-align: right;
  padding: 2% 2% 0 0;
  font-weight: bolder;
  transition: 0.4s;
}

.tbcal tr td:hover {
  background-color: var(--sub-color-01);
  color: white;
  transform: scale(1.2);
  cursor: pointer;
}

.ticket-calender-month ul {
  /* border: 1px solid rgb(50, 30, 228); */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

.ticket-calender-month ul li {
  /* flex: 1; */
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.ticket-calender-month ul li:hover {
  color: var(--sub-color-01);
  cursor: pointer;
  transform: scale(1.5);
}

.ticket-calender-month {
  padding: 0 2%;
  height: 100%;
  /* border: 5px solid rgb(248, 185, 10); */
}

.ticket-calender-month-mb {
  display: none;
}

.ticket-date-next {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 3%;
  font-size: 1.2rem;
  padding-right: 10%;
}

.ticket-date-back {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 3%;
  font-size: 1.2rem;
  padding-left: 10%;
}

.ticket-date-back-mb {
  display: none;
}

.ticket-date-next-mb {
  display: none;
}

.ticket-date-next i,
.ticket-date-back i {
  color: #000000;
  font-size: 20px;
}
/* 月曆樣式結束 */

/* 出發日期選擇樣式結束 */

/* 座位選擇樣式開始 */

.ticket-seat {
  height: 100vh;
  display: flex;
  align-items: center;
  /* border: 1px solid yellow; */
}

.ticket-seat-wrap {
  width: 75%;
  height: 100vh;
  /* border: 1px solid rgb(13, 212, 39); */
  position: absolute;
  padding: 2% 0;
  right: 0;
  margin: 0% 5% 0 0;
  /* padding-top: 30px; */
  /* display: flex; */
}

.ticket-seat-wrap h2 {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.ticket-seat-wrap > p {
  text-align: center;
  color: white;
  font-size: 0.9rem;
}

.ticket-seat-content {
  margin: 2% auto 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90%;
  /* border: 5px solid red; */
  /* height: 70vh; */
}

.ticket-case-choose,
.ticket-seat-choose {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}

.ticket-case-choose img,
.ticket-seat-choose img {
  /* border: 1px solid rgb(255, 238, 0); */
  height: 100%;
  object-fit: contain;
}

.ticket-seat-next {
  color: var(--sub-color-01);
  text-decoration: none;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 3%;
  font-size: 1.2rem;
  padding-right: 5%;
}

.ticket-seat-back {
  color: var(--sub-color-01);
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 3%;
  font-size: 1.2rem;
  padding-left: 6%;
}

.ticket-seat-demo-area {
  position: absolute;
  right: 0;
  top: 20%;
  /* border: 1px solid yellow; */
  background-color: var(--main-color-02);
  width: 18%;
  border-radius: 10px;
  padding: 1%;
  text-align: center;
}

.ticket-seat-demo-area h3 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

.ticket-seat-demo-area > div {
  display: flex;
  justify-content: center;
  line-height: 2rem;
  /* border: 1px solid red; */
}

/* 座位svg檔開始 */
.seat {
  fill: var(--main-color-02);
}
/* 座位svg檔結束 */

/* 座位選擇樣式結束 */
/* 餐點選擇樣式開始 */
.ticket-menu {
  height: 100vh;
  background-color: #000000;
}

.ticket-menu-wrap {
  width: 75%;
  /* border: 1px solid white; */
  position: absolute;
  right: 0;
  margin: 30px 5% 30px 0;
  height: calc(100vh - 60px);
  background-color: white;
  border-radius: 10px;
  /* padding: 0 5%; */
}

.ticket-menu-wrap h2 {
  margin-top: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.ticket-menu-wrap .ticket-menu-title p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
}

.menu-main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(9, 19, 102);
}

.menu-list {
  width: 40%;
  margin-top: 2%;
  padding: 3% 3% 5% 3%;
  background-color: #000000;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  /* max-height: 800px; */
  height: 65vh;
  /* border: 1px solid red; */
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  border: 1px solid yellow;
  height: 15vh;
}

.menu-clicked {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  border: 1px solid rgb(99, 99, 99);
  height: 15vh;
  background-color: rgb(73, 73, 73);
}

.menu:last-child {
  margin-bottom: 0;
}

.menu-img {
  display: flex;
  width: 50%;
  margin-right: 3%;
  /* border: 1px solid green; */
}

.menu-img img {
  object-fit: cover;
}

.menu-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu-detail h3 {
  color: white;
}

.menu-detail p {
  margin-top: 1rem;
  font-size: 0.85rem;
}

.menu-demo-area {
  /* margin-left: -5%; */
  width: 50%;

  /* display: inline-block; */
  border: 1px solid gray;
}

.menu-demo-area img {
  border: 10px solid white;
  min-height: 55vh;
  box-shadow: 3px 3px 5px gray;
  object-fit: cover;
}

.menu-select-area {
  width: 60%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  position: absolute;
  bottom: 5%;
  right: 2%;
  background-color: white;
  min-height: 15vh;
}

.menu-select-area div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 49%;
  /* height: 100%; */
  background-color: #000000;
  margin-bottom: 2%;
  margin-right: 1%;
  /* border: 1px solid red; */
}

.menu-select-area div:nth-child(3),
.menu-select-area div:nth-child(4) {
  margin-bottom: 0;
}

.menu-select-area select {
  width: 70%;
  padding: 5px;
  height: 100%;
}

.menu-select-area label {
  background-color: #000000;
  color: white;
  height: 100%;
  /* border: 1px solid red; */
  flex-grow: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}

.ticket-meal-next {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 2%;
  font-size: 1.2rem;
  padding-right: 5%;
}

.ticket-meal-back {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 2%;
  font-size: 1.2rem;
  padding-left: 6%;
}

.ticket-date-next i,
.ticket-date-back i {
  color: #000000;
  font-size: 20px;
}

/* 餐點選擇樣式結束 */

/* RWD */
/* 全部頁面 */
@media screen and (max-width: 1500px) {
  html {
    font-size: 62.5%;
  }
}

@media screen and (max-width: 390px) {
  html {
    font-size: 40%;
  }

  /* 訂票首頁手機版 */
  .sliderArea {
    display: none;
  }

  .inputArea h2 {
    text-align: center;
  }

  .inputArea {
    width: 80%;
    text-align: left;
    border: 1px solid var(--main-color-02);
    height: 70vh;
  }

  .ticketWrap {
    background-position: -400px -60px;
  }

  /* 步驟圓圈手機版 */
  .step-circle-img {
    display: none;
  }

  .step-circle-mb {
    display: block;
    width: 100%;
    /* border: 1px solid yellow; */
  }

  .step-circle {
    height: 15vh;
    position: absolute;
    bottom: 0;
    /* border: 5px solid rgb(157, 255, 0); */
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  .ticket-steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 25px);
    top: 0;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
  }

  /* 行程選擇手機版 */
  .ticket-trip {
    align-items: flex-start;
  }

  .ticket-trip-wrap {
    height: 85vh;
    padding: 10% 0;
    margin: 0;
    width: 100%;
  }

  .ticket-trip-wrap h2 {
    font-size: 4rem;
  }

  .ticket-trip-card-area {
    display: flex;
    /* border: 5px solid rgb(250, 10, 230); */
    width: 100%;
    overflow: hidden;
  }

  .ticket-trip-card-wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* border: 6px solid blue; */
    width: 300%;
  }

  .ticket-trip-card {
    width: 33%;
    padding: 0 2%;
    height: 60vh;
    position: relative;
    /* border: 5px solid rgb(255, 115, 0); */
    display: flex;
    flex-direction: column;
  }

  .ticket-trip-prev-btn {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 20px);
    left: 5px;
    text-align: center;
    line-height: 40px;
    z-index: 9;
    box-shadow: 5px 5px 5ps gray;
  }

  .ticket-trip-next-btn {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 20px);
    right: 5px;
    text-align: center;
    line-height: 40px;
    z-index: 9;
    box-shadow: 5px 5px 5ps gray;
  }

  .ticket-trip-list-btn {
    margin: 5% 0;
    text-align: center;
  }

  .ticket-next {
    padding-right: 5%;
  }

  /* 出發日期選擇手機版 */
  .ticket-date {
    align-items: flex-start;
  }

  .ticket-date-wrap {
    height: 85vh;
    padding: 10%;
    margin: 0;
    width: 100%;
  }

  .ticket-date-content {
    height: 75%;
    flex-direction: column-reverse;
    /* border: 1px solid green; */
    margin-top: 10%;
  }

  .ticket-calendar-content {
    flex: 1;
  }

  .ticket-calender {
    flex-direction: column-reverse;
  }

  .ticket-calender-month {
    display: none;
  }

  .ticket-calender-month-mb {
    display: block;
    padding: 5% 10% 0 10%;
    height: auto;
    /* border: 1px solid red; */
  }

  .ticket-calender-month-mb ul {
    /* border: 1px solid rgb(50, 30, 228); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    /* border: 1px solid red; */
  }

  .ticket-calender-month-mb ul li {
    /* flex: 1; */
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 5%;
  }

  .ticket-calender-month-mb ul li:hover {
    color: var(--sub-color-01);
    cursor: pointer;
    transform: scale(1.5);
  }

  .ticket-calender > div:first-child {
    flex-grow: 1;
  }

  .ticket-date-selected-area {
    width: 100%;
    flex-direction: row;
  }

  .tbcal tr th {
    font-size: 0.8rem;
  }

  .ticket-date-days-underline {
    border: none;
  }

  .ticket-date-days-underline h2 {
    font-size: 3rem;
  }
  .ticket-date-days h2:last-child {
    margin-bottom: 0;
  }

  .ticket-date-next {
    display: none;
  }

  .ticket-date-back {
    display: none;
  }

  .ticket-date-next-mb {
    color: var(--sub-color-01);
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 10%;
    font-size: 1.2rem;
    padding-right: 10%;
  }

  .ticket-date-back-mb {
    color: var(--sub-color-01);
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 10%;
    font-size: 1.2rem;
    padding-left: 10%;
  }

  .ticket-date-wrap .ticket-date-title h2 {
    font-size: 4rem;
  }

  .ticket-date-selected {
    margin: 0 5px;
  }

  /* 座位選擇手機版 */
  .ticket-seat {
    align-items: flex-start;
  }

  .ticket-seat-content {
    flex-direction: column;
  }

  .ticket-seat-wrap {
    height: 85vh;
    padding: 10% 0;
    margin: 0;
    width: 100%;
  }

  .ticket-seat-wrap h2 {
    font-size: 4rem;
  }

  .ticket-case-choose,
  .ticket-seat-choose {
    height: 50%;
  }

  .ticket-seat-demo-area {
    right: 5%;
    top: 50%;
    width: 35%;
  }

  /* 餐點選擇手機版 */
  .ticket-menu {
    align-items: flex-start;
  }

  .ticket-menu-wrap {
    height: 85vh;
    padding: 10%;
    margin: 0;
    width: 100%;
    background-color: black;
  }

  .ticket-menu-wrap .ticket-menu-title h2,
  .ticket-menu-wrap .ticket-menu-title p {
    margin: 0;
    color: white;
  }

  .ticket-menu-wrap .ticket-menu-title h2 {
    font-size: 4rem;
  }

  .menu-main {
    flex-direction: column-reverse;
    background-color: white;
    height: 50vh;
    padding: 7%;
    justify-content: flex-end;
    margin-top: 5%;
  }

  .menu-main > div {
    width: 100%;
  }

  .menu-demo-area {
    height: 60%;
  }

  .menu-list {
    flex-direction: row;
    height: auto;
    min-height: auto;
    background-color: white;
    padding: 7% 0;
  }

  .menu-list .menu-detail {
    display: none;
  }

  .menu {
    margin: 0;
    height: 100%;
    border: 1px solid gray;
  }

  .menu-img {
    width: 100%;
  }

  .menu-demo-area img {
    min-height: auto;
    object-fit: cover;
    height: 100%;
    object-fit: cover;
  }

  .menu-select-area {
    width: 80%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 3%;
    position: absolute;
    right: 10%;
    bottom: auto;
    background-color: #131313;
    min-height: 15vh;
  }

  .menu-select-area > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    height: 100%;
    background-color: #000000;
    margin-bottom: 2%;
    margin-right: 1%;
  }

  .ticket-meal-next {
    color: var(--sub-color-01);
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: 10%;
    bottom: 5%;
    font-size: 1.2rem;
    padding-right: 5%;
  }

  .ticket-meal-back {
    color: var(--sub-color-01);
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 10%;
    bottom: 5%;
    font-size: 1.2rem;
    padding-left: 6%;
  }
}
