.back-view{
    backdrop-filter: blur(10px);
    transition: 1s ease-in-out;
    
}
.modal-content{
     width: 600px;
  height: 600px;
    background:url('./img/modal.png' )center center /cover no-repeat;
    border-radius: 15px;
    position: relative;
    box-shadow: -5px 5px 20px black;
}