element.style {
  background-color: none;
}

.back-view {
  backdrop-filter: blur(10px);
  transition: 1s ease-in-out;
}

.modal-content {
  width: 600px;
  height: 600px;
  background: url('./img/modal.png') center center / cover no-repeat;
  border-radius: 15px;
  position: relative;
  box-shadow: -5px 5px 20px black;
}

.modal-header.ticket-check-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  border: none;
}

.modal-header.ticket-check-title h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.modal-header.ticket-check-title p {
  font-size: 0.9rem;
}

.ticket-check-body {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

@media screen and (min-width: 576px) {
  .modal-content {
    min-height: 400px;
  }
}
