
  .travelitemBuyButton {
    width: 120px;
    height: 40px;
    margin: 0 auto;
    margin-top:5%;
    margin-right:10px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border: 4px double #000000;
    border-radius: 200px;
    font-size: 18px;
  }

  .travelitemBuyButton:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 4px double rgb(255, 255, 255);
  }

  .main-img,
  .overlay,
  .trivia {
    display: flex;
  }

  .main-img,
  .overlay,
  .trivia {
    flex-direction: column;
  }

  .generalHr {
    width: 40%;
    margin: 0 auto;
    border: 1px solid orange;
    margin-top: 1%;
    margin-bottom: 2%;
  }

  .generalHrpart1 {
    width: 100%;
    margin: 0 auto;
    border: 1px solid orange;
    margin-bottom: 10px;
    margin-top: 10px;
  }



  /* main-img */
  .main-img,
  .tour-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    height: 100vh;
    visibility: inherit;
    text-transform: none;
    margin: 0 auto;
    justify-content: center;
  }

  .main-img {
    background-image: url('/public/travelimg/travelindex1.png');
  }

  .overlay {
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

  .overlay>h1 {
    font-size: 64px;
    margin-bottom: 1%;
    color:white;
  }

  .overlay>h2 {
    font-size: 40px;
  }

  /* search */

  .search {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 1%;
  }

  .webdesigntuts-workshop form {

    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1;
  }

  .webdesigntuts-workshop input {
    background: #222;
    background: linear-gradient(#333, #222);
    border: 1px solid #444;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    width: 500px;
  }

  .webdesigntuts-workshop input::-webkit-input-placeholder {
    color: #888;
  }

  .webdesigntuts-workshop input:-moz-placeholder {
    color: #888;
  }

  .webdesigntuts-workshop input:focus {
    animation: glow 800ms ease-out infinite alternate;
    background: #222922;
    background: linear-gradient(#333933, #222922);
    border-color: #393;
    box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
    color: #efe;
    outline: none;
  }

  .webdesigntuts-workshop input:focus::-webkit-input-placeholder {
    color: #efe;
  }

  .webdesigntuts-workshop input:focus:-moz-placeholder {
    color: #efe;
  }

  .webdesigntuts-workshop button {
    background: #222;
    background: linear-gradient(#333, #222);
    box-sizing: border-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 80px;
  }

  .webdesigntuts-workshop button:hover,
  .webdesigntuts-workshop button:focus {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    color: #6f6;
    outline: none;
  }

  .webdesigntuts-workshop button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
  }

  @keyframes glow {
    0% {
      border-color: #393;
      box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
    }

    100% {
      border-color: #6f6;
      box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
    }
  }

  @media (max-width: 640px) {
    .webdesigntuts-workshop input {
      width: 69%;
    }
  }

  /* carousel */
  
  .trivia {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 1%;
  }

  .triviah2 {
    font-size: 40px;
    color: #05DBF2;
    margin-top: 2%;
  }

  .travelindexcarousel{
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom:3%;
    height: 85vh;
    max-width: 65%;
  }

  @media (max-width: 640px) {
    .travelindexcarousel{
      margin: 0 auto;
      margin-top: 2%;
      margin-bottom:3%;
      max-width: 100%;
      height: auto;
    }
}
  .carouselh4{
    font-size:32px;
  }

  .carouselp{
    font-size:21px;
    margin-top: 2%;
    margin-bottom: 3%;
  }

  @media (max-width: 640px) {
    .carouselp{
      display: none;
    }
  }

  .tourOverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4%;
  }

  .tourOverlayh2 {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px black;
    margin-bottom: 2%;
  }

  .tourOverlayp{
    font-size: 22px;
    color: white;
    text-shadow: 2px 2px black;
    margin-bottom: 2%;
  }

  .tourButton {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    color: #05F2F2;
    background-color: black;
    border: 4px double #05F2F2;
    border-radius: 200px;
    font-size: 18px;
    transition: 0.5s;
  }

  .tourButton:hover {
    background-color: #05F2F2;
    color: black;
    border: 4px double black;
    box-shadow: 0 0 4px #03e9f4, 0 0 6px #03e9f4, 0 0 8px #03e9f4,
      0 0 10px #03e9f4;
  }

  .tour {
    margin-bottom: 3%;
  }

  .tour-img {
    text-align: center;
    background-image: url('/public/travelimg/travelindex2.jpg');
    height: 350px;
    border: 1px solid black;
    width: 90%;
    margin: 50px auto;
  }

  

  /* shop */

  .shopHeaderh2{
    font-size:40px;
  }

  .travelrow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 5px;
  }

  .shop {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
  }

  .shopSection,
  .informationShop {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .shopSection {
    background-color: #f4f5f7;
    height: relative;
  }

  .shopHeader {
    width: 50%;
    margin: 50px auto;
  }

  .shopItem,
  .shopPackage {
    margin: 2%;
  }

  .informationShopItemh2{
    margin-top: 5%;
    font-size: 32px;
  }

  .informationShopItemprice{
    margin-top: 5%;
    font-size: 32px;
    color:rgb(255, 51, 51);
  }

  .informationShopItemhp{
    font-size: 21px;
    margin-top: 6%;
    line-height:30px;
  }

  .informationShopItem {
    text-align: left;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    height: relative;
    background-color: white;
  }

  .smallItem {
    background-color: white;
    height: relative;
    width: 26%;
  }

  .smallItem>img {
    height: 400px;
    width:100%;
  }

  @media (max-width: 640px) {
    .smallItem {
      width: 100%;
    }
  }

  /* locations */

  .projects {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4%;
  }
  @media (max-width: 640px) {
  .projects {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4%;
  }
}

  .projectSectionh2 {
    font-size: 42px;
    text-align: center;
    margin-top: 3%;
    color: #05DBF2;
  }

  .projectItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #254984;
    height: 400px;
    width: 600px;
    z-index: 0;
    margin: 2%;
  }

  .projectItemp{
    color:black;
    font-size:21.5px;
    margin-top:3.5%;
  }

  .projectItemDesc {
    width: 100%;
    height: 60px;
    background-color: #f4f5f7;
  }

  .projectItemDesc:hover {
    border: 2px solid #254984;
    background-color: white;
    text-decoration: none;
  }

  .projectItem>img {
    width: 100%;
    height: 350px;
  }

  /* sizing */

  @media screen and (max-width: 912px) {
    .projects {
      width: 87%;
    }

    .overlay>h1 {
      font-size: 70px;
      margin-bottom: 0%;
    }

    .overlay>h2 {
      font-size: 20px;
    }

    .trivia {
      width: 100%;
    }

    .generalHr {
      width: 50%;
    }
  }

  @media screen and (max-width: 641px) {
    .projectItem>img {
      width: relative;
    }

    .projects {
      width: 100%;
    }

    .trivia {
      width: 100%;
    }

    .overlay>h1 {
      font-size: 40px;
    }

    .generalHr {
      width: 75%;
    }
  }

  @media screen and (max-width: 400px) {
    .smallItem>img {
      width: relatve;
    }
  }