/* search */

.choosesearch {
  width: 100%;
  margin: 0 auto;
}

.webdesigntuts-workshopchoose form {
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.webdesigntuts-workshopchoose input {
  background: #222;
  background: linear-gradient(#333, #222);
  border: 1px solid #444;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 0 #000;
  color: #888;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
  width: 70%;
}

.webdesigntuts-workshopchoose input::-webkit-input-placeholder {
  color: #888;
}

.webdesigntuts-workshopchoose input:-moz-placeholder {
  color: #888;
}

.webdesigntuts-workshopchoose input:focus {
  animation: glow 800ms ease-out infinite alternate;
  background: #222922;
  background: linear-gradient(#333933, #222922);
  border-color: #393;
  box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
  color: #efe;
  outline: none;
}

.webdesigntuts-workshopchoose input:focus::-webkit-input-placeholder {
  color: #efe;
}

.webdesigntuts-workshopchoose input:focus:-moz-placeholder {
  color: #efe;
}

.webdesigntuts-workshopchoose button {
  background: #222;
  background: linear-gradient(#333, #222);
  box-sizing: border-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 0 #000;
  color: #fff;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  width: 60px;
}

.webdesigntuts-workshopchoose button:hover,
.webdesigntuts-workshopchoose button:focus {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  color: #5f5;
  outline: none;
}

.webdesigntuts-workshopchoose button:active {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;
}

@keyframes glow {
  0% {
    border-color: #393;
    box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
  }

  100% {
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
  }
}

@media (max-width: 640px) {
  .webdesigntuts-workshopchoose input {
    width: 69%;
  }
}

.align-items-stretch {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.choosecardmb{
  margin-bottom:60px;
}

.choosesearch{
  font-size: 18px;
}

.chooseh4{
  font-size:32px;
  color: white;
  letter-spacing: 2px;
  margin-bottom:1rem;
}

.choosep {
  color: white;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  font-size:21px;
  line-height:30px;
}

.chooseitinerary{
  margin-left: 15px;
}

.chooseitinerary> li {
  color: white;
  letter-spacing: 1px;
  list-style-type:disc;
  font-size:16px;
  line-height: 30px;
}

.day, .price{
  font-size: 21px;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.day{
  color: white;
}

.price {
  color: #f03742;
}

.choosedetails{
  margin-top:13%;
}

.item {
  border-left: 10px solid #05dbf2;
}

.image img {
  background: rgba(0, 0, 0, 0.2);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  height: 300px;
  width: 100%;
}

.itemBuyButton {
  width: 120px;
  height: 40px;
  margin: 0 auto;
  color: #05F2F2;
  background-color: black;
  border: 4px double #05F2F2;
  border-radius: 200px;
  font-size: 18px;
}

.itemBuyButton:hover {
  background-color: #05F2F2;
  color: black;
  border: 4px double black;
}

.morechoose{
  font-size:20px;
  margin-bottom:5%;
}
.pagination{
  justify-content: center;
}

.page-item-c{
  background-color:black;
}

.page-link{
  color:#05F2F2;
  background-color:black;
  border:2px solid #05F2F2;
  
}
.page-link:hover{
  color: black;
  background-color:#05F2F2;
  border:2px solid #05F2F2;
}

.page-item-c.active-c .page-link {
  z-index: 3;
  color: rgb(0, 0, 0);
  background-color: #05F2F2;
  border-color: #05F2F2;
}


