html {
    scroll-behavior: smooth;
  }

  body {
    min-width: 200px;
    padding: 0px;
    max-width: 1920px;
    transition: 1s ease-in-out;
    background-color: black;
  }

  /* ::-webkit-scrollbar {
display: none;
} */
  .header,
  .wrap,
  .main-img,
  .overlay,
  .trivia {
    display: flex;
  }

  .main-img,
  .overlay,
  .trivia {
    flex-direction: column;
  }

  .wrap {
    flex-direction: row;
  }

  .generalHr {
    width: 40%;
    margin: 0 auto;
    border: 1px solid orange;
    margin-bottom: 1%;
  }

  .generalHrpart1 {
    width: 40%;
    margin: 0 auto;
    border: 1px solid orange;
    margin-bottom: 1%;
  }

  .generalHrpart2 {
    width: 100%;
    margin: 0 auto;
    border: 1px solid orange;
    margin-bottom: 1%;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
  }

  /* navbar */
  header {
    z-index: 1;
    background-color: black;
    /* position: fixed; */
    width: 100%;
    box-shadow: 3px 3px 5px 5px;
  }

  .wrap {
    height: relative;
    justify-content: center;
    flex-wrap: wrap;
  }

  .navbar {
    margin: 0px;
  }

  .navbar>li {
    display: inline;
    height: relative;
    list-style-type: none;
    width: relative;
    margin: 0px;
    margin-left: 23px;
    font-size: 20px;
    margin-right: 30px;
  }

  .navA,
  .navA:hover {
    color: white;
  }

  .logo {
    height: auto;
    width: 150px;
    min-width: 150px;
    margin: 0 auto;
  }

  /* main-img */
  .main-img,
  #tour-img,
  #projects {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    height: 100vh;
    visibility: inherit;
    text-transform: none;
    margin: 0 auto;
    justify-content: center;
    background-color: #254984;
  }

  .main-img {
    background-image: url('/public/travelimg/Domedpark.png');
  }

  .overlay {
    background-size: cover;
    color: white;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

  f .overlay>h1 {
    font-size: 100px;
    margin-bottom: 1%;
  }

  .overlay>h2 {
    font-size: 30px;
  }

  /* carousel */
  .carousel-item>img {
    height: 50%;
    margin: 0 auto;
  }

  .trivia {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 1%;
  }

  .trivia>h3 {
    font-size: 40px;
    color: #05DBF2;
  }

  /* search */

  .search {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 1%;
  }

  .search>h3 {
    font-size: 40px;
    color: #05DBF2;
  }

  .searchAbout {
    margin: 0 auto;
    height: auto;
    width: 300px;
  }

  .webdesigntuts-workshop form {

    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1;
  }

  .webdesigntuts-workshop input {
    background: #222;
    background: linear-gradient(#333, #222);
    border: 1px solid #444;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    width: 200px;
  }

  .webdesigntuts-workshop input::-webkit-input-placeholder {
    color: #888;
  }

  .webdesigntuts-workshop input:-moz-placeholder {
    color: #888;
  }

  .webdesigntuts-workshop input:focus {
    animation: glow 800ms ease-out infinite alternate;
    background: #222922;
    background: linear-gradient(#333933, #222922);
    border-color: #393;
    box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
    color: #efe;
    outline: none;
  }

  .webdesigntuts-workshop input:focus::-webkit-input-placeholder {
    color: #efe;
  }

  .webdesigntuts-workshop input:focus:-moz-placeholder {
    color: #efe;
  }

  .webdesigntuts-workshop button {
    background: #222;
    background: linear-gradient(#333, #222);
    box-sizing: border-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 80px;
  }

  .webdesigntuts-workshop button:hover,
  .webdesigntuts-workshop button:focus {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    color: #5f5;
    outline: none;
  }

  .webdesigntuts-workshop button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
  }

  @keyframes glow {
    0% {
      border-color: #393;
      box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
    }

    100% {
      border-color: #6f6;
      box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
    }
  }

  p {
    color: black;
    font-size: 22px;
    padding: 10px;
    line-height: 1.5;
    margin-bottom: 0px;
    letter-spacing: 2px;
  }

  #tour {
    margin-bottom: 3%;
  }

  #tour-img {
    text-align: center;
    background-image: url('/public/travelimg/48954138922_55008a2275_k.jpg');
    height: 350px;
    border: 1px solid black;
    width: 90%;
    margin: 0 auto;
  }

  .tourOverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4%;
  }

  .tourOverlay>h2 {
    color: white;
    text-shadow: 2px 2px black;
  }

  .tourButton {
    width: 120px;
    height: 40px;
    margin: 0 auto;
    color: #05F2F2;
    background-color: black;
    border: 4px double #05F2F2;
    border-radius: 200px;
    font-size: 18px;
    transition: 0.5s;
  }

  .tourButton:hover {
    background-color: #05F2F2;
    color: black;
    border: 4px double black;
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 20px #03e9f4,
      0 0 25px #03e9f4;
  }

  /* shop */

  #shopSection,
  .shopItem,
  .informationShop {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #shopSection {
    background-color: #f4f5f7;
    height: relative;
  }

  .shopHeader {
    width: 50%;
    margin: 50px auto;
  }

  .shopHeader>h3 {
    font-size: 40px;
  }

  #shopSection>h2 {
    margin-top: 2%;
    font-size: 43px;
  }

  .shopItem,
  .shopPackage {
    margin: 2%;
    /*   border: 1px solid blue; */
  }

  /* Shop --> packages */
  .shopPackage {
    width: 400px;
    height: relative;
  }

  .shopPackage>img {
    width: 400px;
    height: 353px;
  }

  .informationPackage>h2 {
    font-size: 40px;
  }

  .informationPackage>p {
    font-size: 20px;
  }

  /* Shop --> Items */
  .informationShopItem>h3 {
    font-size: 40px;
  }

  .informationShopItem {
    text-align: left;
    padding-left: 10px;
    width: 100%;
    height: relative;
    background-color: white;
  }

  #smallItem {
    background-color: white;
    height: relative;
    width: 400px;
  }

  .itemBuyButton {
    width: 120px;
    height: 40px;
    margin: 0 auto;
    color: #05F2F2;
    background-color: black;
    border: 4px double #05F2F2;
    border-radius: 200px;
    font-size: 18px;
  }

  .itemBuyButton:hover {
    background-color: #05F2F2;
    color: black;
    border: 4px double black;
  }

  #smallItem>img {
    height: 345px;
    width: 400px;
  }

  #shop {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Projects */

  .projects {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4%;
  }

  #projectSection {
    background: url("");
  }

  #projectSection>h2 {
    font-size: 42px;
    text-align: center;
    margin-top: 2%;
    color: #05DBF2;
  }

  .projectItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #254984;
    height: 400px;
    width: 600px;
    z-index: 0;
    margin: 2%;
  }

  .projectItemDesc {
    width: 100%;
    height: 50px;
    background-color: #f4f5f7;
  }

  .projectItemDesc:hover {
    border: 2px solid #254984;
    background-color: white;
    text-decoration: none;
  }

  .projectItem>img {
    width: 100%;
    height: 350px;
  }

  /* sizing */

  @media screen and (max-width: 1100px) {

    p,
    .informationPackage>p,
    informationShopItem>p {
      font-size: 19px;
    }
  }

  @media screen and (max-width: 1007px) {
    .projects {
      width: 87%;
    }

    .overlay>h1 {
      font-size: 70px;
      margin-bottom: 0%;
    }

    .overlay>h2 {
      font-size: 20px;
    }

    .trivia {
      width: 100%;
    }

    .generalHr {
      width: 50%;
    }
  }

  @media screen and (max-width: 900px) {
    .logo {
      margin: 0 auto;
    }

    .main-img {
      height: 100vh;
    }

    .navbar>li>a {
      display: none;
    }

    footer>h2,
    footer>h3 {
      font-size: 15px;
      margin-bottom: -3%;
    }

    footer {
      line-height: 0.5;
    }
  }

  @media screen and (max-width: 641px) {
    .projectItem>img {
      width: relative;
    }

    .projects {
      width: 100%;
    }

    .trivia {
      width: 100%;
    }

    .overlay>h1 {
      font-size: 40px;
    }

    .generalHr {
      width: 75%;
    }
  }

  @media screen and (max-width: 400px) {
    #smallItem>img {
      width: relatve;
    }
  }