/* spinner */

.icon-choosespinner-5:before {
	content: "\e004";
}

@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.choosespinner {
	display: inline-block;
	font-size:4em;
	height: 1em;
	line-height: 1;
	margin: .5em;
	animation: anim-rotate 2s infinite linear;
	color: #fff;
	text-shadow: 0 0 .25em rgba(255,255,255, .3);
}
.choosespinner--steps {
	animation: anim-rotate 1s infinite steps(8);
}
.choosespinner--steps2 {
	animation: anim-rotate 1s infinite steps(12);
}

.talign-center {
	text-align: center;
}

.centerWrap {
  left: 41%;
  top: 25%;
  position: absolute;
}
.quote {
  position: relative;
  top: 260px;
  color: transparent;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  -webkit-animation: quote 1s ease-in 1s forwards;
          animation: quote 1s ease-in 1s forwards;
}
.bb8:before {
  height: 6px;
  width: 6px;
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  background-color: tranparent;
  box-shadow: 100px 60px #161616, 100px 60px #161616, 100px 66px #ffffff, 100px 72px #ffffff, 100px 78px #e8e8e8, 100px 84px #e8e8e8, 100px 90px #e8e8e8, 100px 96px #161616, 100px 102px #161616, 106px 102px #e99b3c, 112px 102px #e99b3c, 118px 102px #e99b3c, 112px 84px #e8e8e8, 112px 90px #e8e8e8, 112px 96px #d4d3d3, 118px 96px #d4d3d3, 124px 96px #d4d3d3, 130px 96px #d4d3d3, 136px 96px #d4d3d3, 130px 102px #161616, 136px 102px #161616, 130px 108px #161616, 136px 108px #161616, 148px 114px #161616, 142px 114px #e8e8e8, 148px 108px #e8e8e8, 154px 114px #e8e8e8, 148px 120px #e8e8e8, 94px 120px #e99b3c, 106px 120px #e99b3c, 118px 120px #e99b3c, 124px 120px #e99b3c, 94px 114px 0 1px #ffffff, 100px 120px 0 1px #ffffff, 100px 114px 0 1px #ffffff, 100px 108px 0 1px #ffffff, 106px 108px 0 1px #ffffff, 106px 114px 0 1px #ffffff, 112px 108px 0 1px #ffffff, 112px 114px 0 1px #ffffff, 112px 120px 0 1px #ffffff, 118px 108px 0 1px #ffffff, 118px 114px 0 1px #ffffff, 124px 102px 0 1px #ffffff, 124px 108px 0 1px #ffffff, 124px 114px 0 1px #ffffff, 130px 114px 0 1px #ffffff, 130px 120px 0 1px #ffffff, 136px 114px 0 1px #ffffff, 136px 120px 0 1px #ffffff, 142px 120px 0 1px #ffffff, 142px 108px 0 1px #ffffff, 142px 102px 0 1px #ffffff, 154px 120px #ffffff, 94px 126px #c9c2c2, 100px 126px #c9c2c2, 106px 126px #c9c2c2, 112px 126px #c9c2c2, 118px 126px #c9c2c2, 124px 126px #c9c2c2, 130px 126px #c9c2c2, 136px 126px #c9c2c2, 142px 126px #c9c2c2, 148px 126px #c9c2c2, 154px 126px #c9c2c2, 136px 132px #a39b9b, 130px 132px #a39b9b, 124px 132px #a39b9b, 118px 132px #a39b9b, 112px 132px #a39b9b, 106px 132px #a39b9b, 142px 132px #a39b9b, 112px 132px rgba(22, 22, 22, 0.2), 118px 132px rgba(22, 22, 22, 0.2), 124px 132px rgba(22, 22, 22, 0.2), 130px 132px rgba(22, 22, 22, 0.2), 136px 132px rgba(22, 22, 22, 0.2), 100px 138px rgba(22, 22, 22, 0.2), 106px 138px rgba(22, 22, 22, 0.2), 112px 138px rgba(22, 22, 22, 0.2), 118px 138px rgba(22, 22, 22, 0.2), 124px 138px rgba(22, 22, 22, 0.2), 130px 138px rgba(22, 22, 22, 0.2), 136px 138px rgba(22, 22, 22, 0.2), 142px 138px rgba(22, 22, 22, 0.2), 148px 138px rgba(22, 22, 22, 0.2), 106px 144px rgba(22, 22, 22, 0.2), 112px 144px rgba(22, 22, 22, 0.2), 118px 144px rgba(22, 22, 22, 0.2), 124px 144px rgba(22, 22, 22, 0.2), 130px 144px rgba(22, 22, 22, 0.2), 136px 144px rgba(22, 22, 22, 0.2), 142px 144px rgba(22, 22, 22, 0.2), 112px 150px rgba(22, 22, 22, 0.2), 118px 150px rgba(22, 22, 22, 0.2), 124px 150px rgba(22, 22, 22, 0.2), 130px 150px rgba(22, 22, 22, 0.2), 136px 150px rgba(22, 22, 22, 0.2);
  transform-origin: 127px 183px;
  transform: rotate(0deg) translate(0px, 0px);
  -webkit-animation: bbhead 1s ease-out 0.5s forwards, bbheadshake 1s 2s infinite;
          animation: bbhead 1s ease-out 0.5s forwards, bbheadshake 1s 2s infinite;
}
.bb8:after {
  height: 6px;
  width: 6px;
  content: '';
  display: block;
  background-color: transparent;
  box-shadow: 112px 132px #ffffff, 118px 132px #ffffff, 124px 132px #ffffff, 130px 132px #ffffff, 136px 132px #ffffff, 100px 138px #ffffff, 106px 138px #ffffff, 112px 138px #ffffff, 118px 138px #ffffff, 124px 138px #ffffff, 130px 138px #ffffff, 136px 138px #a8b5b5, 142px 138px #ffffff, 148px 138px #ffffff, 88px 144px #e99b3c, 94px 144px #ffffff, 100px 144px #ffffff, 106px 144px #ffffff, 112px 144px #ffffff, 118px 144px #ffffff, 124px 144px #ffffff, 130px 144px #ffffff, 136px 144px #ffffff, 142px 144px #ffffff, 148px 144px #ffffff, 154px 144px #ffffff, 160px 144px #ffffff, 88px 150px #e99b3c, 94px 150px #d67117, 100px 150px #ffffff, 106px 150px #ffffff, 112px 150px #ffffff, 118px 150px #ffffff, 124px 150px #ffffff, 130px 150px #e99b3c, 136px 150px #e99b3c, 142px 150px #e99b3c, 148px 150px #e99b3c, 154px 150px #ffffff, 160px 150px #ffffff, 82px 156px #DCD5DC, 88px 156px #d67117, 94px 156px #d67117, 100px 156px #ffffff, 106px 156px #819393, 112px 156px #ffffff, 118px 156px #e99b3c, 124px 156px #e99b3c, 130px 156px #e99b3c, 136px 156px #e99b3c, 142px 156px #e99b3c, 148px 156px #e99b3c, 154px 156px #e99b3c, 160px 156px #e99b3c, 166px 156px #ffffff, 82px 162px #e99b3c, 88px 162px #d67117, 94px 162px #d67117, 100px 162px #ffffff, 106px 162px #ffffff, 112px 162px #ffffff, 118px 162px #e99b3c, 124px 162px #e99b3c, 130px 162px #ffffff, 136px 162px #e99b3c, 142px 162px #e99b3c, 148px 162px #ffffff, 154px 162px #e99b3c, 160px 162px #e99b3c, 166px 162px #ffffff, 76px 168px #a8b5b5, 82px 168px #e99b3c, 88px 168px #d67117, 94px 168px #d67117, 100px 168px #ffffff, 106px 168px #ffffff, 112px 168px #e99b3c, 118px 168px #e99b3c, 124px 168px #ffffff, 130px 168px #a8b5b5, 136px 168px #ffffff, 142px 168px #ffffff, 148px 168px #D5E0E0, 154px 168px #ffffff, 160px 168px #e99b3c, 166px 168px #e99b3c, 172px 168px #ffffff, 76px 174px #DCD5DC, 82px 174px #d67117, 88px 174px #d67117, 94px 174px #DCD5DC, 100px 174px #ffffff, 106px 174px #ffffff, 112px 174px #e99b3c, 118px 174px #e99b3c, 124px 174px #e99b3c, 130px 174px #ffffff, 136px 174px #a8b5b5, 142px 174px #D6E1E1, 148px 174px #ffffff, 154px 174px #e99b3c, 160px 174px #e99b3c, 166px 174px #e99b3c, 172px 174px #ffffff, 76px 180px #e99b3c, 82px 180px #d67117, 88px 180px #d67117, 94px 180px #DCD5DC, 100px 180px #ffffff, 106px 180px #ffffff, 112px 180px #e99b3c, 118px 180px #e99b3c, 124px 180px #e99b3c, 130px 180px #ffffff, 136px 180px #a8b5b5, 142px 180px #D6E1E1, 148px 180px #ffffff, 154px 180px #e99b3c, 160px 180px #e99b3c, 166px 180px #e99b3c, 172px 180px #ffffff, 76px 186px #e99b3c, 82px 186px #DCD5DC, 88px 186px #DCD5DC, 94px 186px #DCD5DC, 100px 186px #819393, 106px 186px #ffffff, 112px 186px #e99b3c, 118px 186px #e99b3c, 124px 186px #ffffff, 130px 186px #a8b5b5, 136px 186px #ffffff, 142px 186px #ffffff, 148px 186px #D6E1E1, 154px 186px #ffffff, 160px 186px #e99b3c, 166px 186px #e99b3c, 172px 186px #ffffff, 76px 192px #EDE8EA, 82px 192px #DCD5DC, 88px 192px #DCD5DC, 94px 192px #DCD5DC, 100px 192px #DCD5DC, 106px 192px #ffffff, 112px 192px #ffffff, 118px 192px #e99b3c, 124px 192px #e99b3c, 130px 192px #ffffff, 136px 192px #e99b3c, 142px 192px #e99b3c, 148px 192px #ffffff, 154px 192px #e99b3c, 160px 192px #e99b3c, 166px 192px #ffffff, 172px 192px #ffffff, 82px 198px #a8b5b5, 88px 198px #DCD5DC, 94px 198px #DCD5DC, 100px 198px #DCD5DC, 106px 198px #ffffff, 112px 198px #ffffff, 118px 198px #e99b3c, 124px 198px #e99b3c, 130px 198px #e99b3c, 136px 198px #e99b3c, 142px 198px #e99b3c, 148px 198px #e99b3c, 154px 198px #e99b3c, 160px 198px #e99b3c, 166px 198px #ffffff, 82px 204px #EDE8EA, 88px 204px #DCD5DC, 94px 204px #DCD5DC, 100px 204px #DCD5DC, 106px 204px #DCD5DC, 112px 204px #ffffff, 118px 204px #ffffff, 124px 204px #ffffff, 130px 204px #e99b3c, 136px 204px #e99b3c, 142px 204px #e99b3c, 148px 204px #e99b3c, 154px 204px #ffffff, 160px 204px #ffffff, 166px 204px #ffffff, 88px 210px #e99b3c, 94px 210px #d67117, 100px 210px #d67117, 106px 210px #DCD5DC, 112px 210px #DCD5DC, 118px 210px #819393, 124px 210px #ffffff, 130px 210px #ffffff, 136px 210px #ffffff, 142px 210px #ffffff, 148px 210px #ffffff, 154px 210px #ffffff, 160px 210px #819393, 88px 216px #e99b3c, 94px 216px #e99b3c, 100px 216px #d67117, 106px 216px #d67117, 112px 216px #DCD5DC, 118px 216px #DCD5DC, 124px 216px #DCD5DC, 130px 216px #ffffff, 136px 216px #ffffff, 142px 216px #ffffff, 148px 216px #ffffff, 154px 216px #ffffff, 160px 216px #ffffff, 100px 222px #d67117, 106px 222px #d67117, 112px 222px #d67117, 118px 222px #DCD5DC, 124px 222px #DCD5DC, 130px 222px #DCD5DC, 136px 222px #DCD5DC, 142px 222px #b5a9b5, 148px 222px #b5a9b5, 112px 228px #d67117, 118px 228px #d67117, 124px 228px #b5a9b5, 130px 228px #b5a9b5, 136px 228px #b5a9b5;
  -webkit-animation-name: bbroll;
          animation-name: bbroll;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  transform-origin: 127px 183px;
}
@-webkit-keyframes bbroll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bbroll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes bbhead {
  20% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
@keyframes bbhead {
  20% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(25deg);
  }
}
@-webkit-keyframes bbheadshake {
  0% {
    transform: rotate(25deg) translate(0px, 0px);
  }
  50% {
    transform: rotate(20deg) translate(2px, 2px);
  }
  100% {
    transform: rotate(25deg) translate(0px, 0px);
  }
}
@keyframes bbheadshake {
  0% {
    transform: rotate(25deg) translate(0px, 0px);
  }
  50% {
    transform: rotate(20deg) translate(2px, 2px);
  }
  100% {
    transform: rotate(25deg) translate(0px, 0px);
  }
}
@-webkit-keyframes quote {
  0% {
    color: transparent;
  }
  100% {
    color: #74BAD0;
  }
}
@keyframes quote {
  0% {
    color: transparent;
  }
  100% {
    color: #74BAD0;
  }
}


/* sort button */

.sortButton{
  padding:0px;
  border-right:3px solid white ;
}

.sortitemBuyButton {
  width: 120px;
  height: 40px;
  margin: 0 8.5px;
  color: #05F2F2;
  background-color: black;
  border: 4px double #05F2F2;
  border-radius: 200px;
  font-size: 18px;
}

.sortitemBuyButton:hover {
  background-color: #05F2F2;
  color: black;
  border: 4px double black;
}

.sortitemBuyButtonAll, .sortitemBuyButtonpf, .sortitemBuyButtonpm, .sortitemBuyButtondf, .sortitemBuyButtondm {
  width: 120px;
  height: 40px;
  margin: 0 8.5px;
  color: #000000;
  background-color: #05F2F2;
  border: 4px double #000000;
  border-radius: 200px;
  font-size: 18px;
}

.ssortitemBuyButtonAll, .sortitemBuyButtonpf, .sortitemBuyButtonpm, .sortitemBuyButtondf, .sortitemBuyButtondm:hover {
  background-color: #05F2F2;
  color: black;
  border: 4px double black;
}

/* search */

.choosesearch {
  width: 100%;
  margin: 0 auto;
}

.webdesigntuts-workshopchoose form {
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.webdesigntuts-workshopchoose input {
  background: #222;
  background: linear-gradient(#333, #222);
  border: 1px solid #444;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 0 #000;
  color: #888;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
  width: 70%;
}

.webdesigntuts-workshopchoose input::-webkit-input-placeholder {
  color: #888;
}

.webdesigntuts-workshopchoose input:-moz-placeholder {
  color: #888;
}

.webdesigntuts-workshopchoose input:focus {
  animation: glow 800ms ease-out infinite alternate;
  background: #222922;
  background: linear-gradient(#333933, #222922);
  border-color: #393;
  box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
  color: #efe;
  outline: none;
}

.webdesigntuts-workshopchoose input:focus::-webkit-input-placeholder {
  color: #efe;
}

.webdesigntuts-workshopchoose input:focus:-moz-placeholder {
  color: #efe;
}

.webdesigntuts-workshopchoose button {
  background: #222;
  background: linear-gradient(#333, #222);
  box-sizing: border-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 0 #000;
  color: #fff;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  width: 74px;
}

.webdesigntuts-workshopchoose button:hover,
.webdesigntuts-workshopchoose button:focus {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  color: #6f6;
  outline: none;
}

.webdesigntuts-workshopchoose button:active {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;
}

@keyframes glow {
  0% {
    border-color: #393;
    box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
  }

  100% {
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
  }
}

@media (max-width: 640px) {
  .webdesigntuts-workshopchoose input {
    width: 77%;
  }
}

.align-items-stretch {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.choosecardmb{
  margin-bottom:60px;
}

.choosesearch{
  font-size: 18px;
}

.chooseh4{
  font-size:32px;
  color: white;
  letter-spacing: 2px;
  margin-bottom:1rem;
}

.choosep {
  color: white;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  font-size:21px;
  line-height:30px;
}

.chooseitinerary{
  margin-left: 15px;
}

.chooseitinerary> li {
  color: white;
  letter-spacing: 1px;
  list-style-type:disc;
  font-size:16px;
  line-height: 30px;
}

.day, .price{
  font-size: 21px;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.day{
  color: white;
}

.price {
  color: #f03742;
}

.choosedetails{
  margin-top:13%;
}

.item {
  border-left: 10px solid #05dbf2;
}

.image img {
  background: rgba(0, 0, 0, 0.2);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  height: 300px;
  width: 100%;
}

.itemBuyButton {
  width: 120px;
  height: 40px;
  margin: 0 auto;
  color: #05F2F2;
  background-color: black;
  border: 4px double #05F2F2;
  border-radius: 200px;
  font-size: 18px;
}

.itemBuyButton:hover {
  background-color: #05F2F2;
  color: black;
  border: 4px double black;
}

.itemBuyButton>a{
  color: #05F2F2;
}
.itemBuyButton>a:hover{
  text-decoration:none;
  color: black;
}

.morechoose{
  font-size:20px;
  margin-bottom:5%;
}
.pagination{
  justify-content: center;
}

.page-item-c{
  background-color:black;
}

.page-link{
  color:#05F2F2;
  background-color:black;
  border:2px solid #05F2F2;
  
}
.page-link:hover{
  color: black;
  background-color:#05F2F2;
  border:2px solid #05F2F2;
}

.page-item-c.active-c .page-link {
  z-index: 3;
  color: rgb(0, 0, 0);
  background-color: #05F2F2;
  border-color: #05F2F2;
}

.chr{
  margin-top: 22.1%;
}
