
.align-items-stretch {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.choosecardmb{
  margin-bottom:60px;
}

.choosesearch{
  font-size: 20px;
}

.chooseh4{
  font-size:32px;
  color: white;
  letter-spacing: 2px;
  margin-bottom:1rem;
}

.choosep {
  color: white;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  font-size:21px;
  line-height:30px;
}

.chooseitinerary{
  margin-left: 15px;
}

.chooseitinerary> li {
  color: white;
  letter-spacing: 1px;
  list-style-type:disc;
  font-size:16px;
}

.day, .price{
  font-size: 21px;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.day{
  color: white;
}

.price {
  color: #f03742;
}

.choosedetails{
  margin-top:13%;
}

.filters {
  position: sticky;
}

.item {
  border-left: 10px solid #05dbf2;
}

.image img {
  background: rgba(0, 0, 0, 0.2);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  height: 300px;
  width: 100%;
}

.itemBuyButton {
  width: 120px;
  height: 40px;
  margin: 0 auto;
  color: #05F2F2;
  background-color: black;
  border: 4px double #05F2F2;
  border-radius: 200px;
  font-size: 18px;
}

.itemBuyButton:hover {
  background-color: #05F2F2;
  color: black;
  border: 4px double black;
}

.morechoose{
  text-align: center;
  margin-bottom:5%;
}