@import '~bootstrap/scss/bootstrap.scss';

/* 第1段--------------------------------------------------------------------------------------- */

.pr-home-mv-img {
    position: relative;

    >.pr-home-mv-p {
        margin-top: 26%;
        position  : absolute;
        width     : 100%;
        text-align: center;

        >.pr-home-h2 {
            font-weight   : 900;
            font-size     : 96px;
            color         : white;
            line-height   : 140%;
            text-transform: capitalize;
            text-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.35);
        }

        >.pr-home-p1 {
            font-size     : 50px;
            text-align    : center;
            text-transform: capitalize;
            color         : #FFFFFF;
            text-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.35);
        }

        >.pr-home-p2 {
            font-size     : 36px;
            line-height   : 140%;
            text-align    : center;
            text-transform: capitalize;
            color         : #FFFFFF;
            text-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.35);
        }
    }

    >img {
        width     : 100%;
        Object-fit: contain;
    }
}

@media screen and (max-width:375px) {
    .pr-home-mv-img {
        position: relative;

        >.pr-home-mv-p {
            margin-top: 25%;
            position  : absolute;
            width     : 100%;
            text-align: center;

            >.pr-home-h2 {
                margin        : 0px;
                font-weight   : 900;
                font-size     : 20px;
                color         : white;
                text-transform: capitalize;
                text-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.35);
            }

            >.pr-home-p1 {
                margin        : 0px;
                font-size     : 14px;
                text-align    : center;
                text-transform: capitalize;
                color         : #FFFFFF;
                text-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.35);
            }

            >.pr-home-p2 {
                font-size     : 14px;
                text-align    : center;
                text-transform: capitalize;
                color         : #FFFFFF;
                text-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.35);
            }
        }

    }
}

/* 第2段時裝照--------------------------------------------------------------------------------------- */
.pr-home-fashion-img {
    width   : 100%;
    display       : flex;
    position: relative;

    >.pr-home-fashion-div {
        display       : flex;
        flex-direction: row-reverse;
        margin-right  : 8%;

        >.pr-home-fashion-svg {
            position: relative;
        }

        >.pr-home-fashion-txt {
            margin-left: 25px;
            ;
            position: absolute;

            >.pr-home-fashion-h2 {
                color    : #FFFFFF;
                font-size: 72px;
            }

            >.pr-home-fashion-p {
                color    : #FFFFFF;
                font-size: 18px;
            }
        }
    }

    .slider_container {
        display: block;
        margin-left: 5%;
        margin-top: 2%;
        
        // top                   : 2%;
        width                 : 34%;
        height: 100vh;
        position              : relative;
      
        // overflow: hidden;
    }

    .slider_container div {
        position: absolute;
        width   : 100%;
        top     : 0;
        left    : 0;
        opacity : 0;
        filter  : alpha(opacity=0);

        >img {
            width: 100%;
        }
    }

    // 設定動畫週期
    .slider_container div {
        -webkit-animation: round 25s linear infinite;
        animation        : round 25s linear infinite;
    }

    @-webkit-keyframes round {
        4% {
            opacity: 1;
            filter : alpha(opacity=100);
            /* 0 - 1秒 淡入*/
        }

        20% {
            opacity: 1;
            filter : alpha(opacity=100);
            /* 1- 5秒靜止*/
        }

        24% {
            opacity: 0;
            filter : alpha(opacity=0);
            /* 5-6秒淡出*/
        }
    }

    @keyframes round {
        4% {
            opacity: 1;
            filter : alpha(opacity=100);
            /* 0 - 1秒 淡入*/
        }

        20% {
            opacity: 1;
            filter : alpha(opacity=100);
            /* 1- 5秒靜止*/
        }

        24% {
            opacity: 0;
            filter : alpha(opacity=0);
            /* 5-6秒淡出*/
        }
    }

    //每張圖片進場時間相隔5秒
    .slider_container div:nth-child(5) {
        -webkit-animation-delay: 0s;
        animation-delay        : 0s;
    }

    .slider_container div:nth-child(4) {
        -webkit-animation-delay: 5s;
        animation-delay        : 5s;
    }

    .slider_container div:nth-child(3) {
        -webkit-animation-delay: 10s;
        animation-delay        : 10s;
    }

    .slider_container div:nth-child(2) {
        -webkit-animation-delay: 15s;
        animation-delay        : 15s;
    }

    .slider_container div:nth-child(1) {
        -webkit-animation-delay: 20s;
        animation-delay        : 20s;
    }

    .slider_container2 {
        top                   : 26%;
        width                 : 25%;
        height: 80%;
        position              : absolute;
        border: 10px solid;    
        border-color: #fff;
        box-shadow: #666 0 0 5px;
        
    }

    .slider_container2 div {
        position: absolute;
        width   : 100%;
        top     : 0;
        left    : 0;
        opacity : 0;
        filter  : alpha(opacity=0);

        >img {
            width: 100%;
        }
    }

    // 設定動畫週期
    .slider_container2 div {
        -webkit-animation: round 25s linear infinite;
        animation        : round 25s linear infinite;
    }

    @-webkit-keyframes round {
        4% {
            opacity: 1;
            filter : alpha(opacity=100);
            /* 0 - 1秒 淡入*/
        }

        20% {
            opacity: 1;
            filter : alpha(opacity=100);
            /* 1- 5秒靜止*/
        }

        24% {
            opacity: 0;
            filter : alpha(opacity=0);
            /* 5-6秒淡出*/
        }
    }

    @keyframes round {
        4% {
            opacity: 1;
            filter : alpha(opacity=100);
            /* 0 - 1秒 淡入*/
        }

        20% {
            opacity: 1;
            filter : alpha(opacity=100);
            /* 1- 5秒靜止*/
        }

        24% {
            opacity: 0;
            filter : alpha(opacity=0);
            /* 5-6秒淡出*/
        }
    }

    //每張圖片進場時間相隔5秒
    .slider_container2 div:nth-child(5) {
        -webkit-animation-delay: 0s;
        animation-delay        : 0s;
    }

    .slider_container2 div:nth-child(4) {
        -webkit-animation-delay: 5s;
        animation-delay        : 5s;
    }

    .slider_container2 div:nth-child(3) {
        -webkit-animation-delay: 10s;
        animation-delay        : 10s;
    }

    .slider_container2 div:nth-child(2) {
        -webkit-animation-delay: 15s;
        animation-delay        : 15s;
    }

    .slider_container2 div:nth-child(1) {
        -webkit-animation-delay: 20s;
        animation-delay        : 20s;
    }
}